body {
  background-color: #E9EFF7;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  touch-action: none;
}
.marginTop {
  border-top: 0.2rem solid #E9EFF7;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
}
.clearfix::after {
  clear: both;
}
.container {
  width: 84%;
  margin: 0 auto;
}
.navBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.navBottom ul {
  display: flex;
}
.navBottom ul li {
  flex: auto;
  text-align: center;
}
.navBottom ul li a {
  display: block;
  padding-bottom: 0.1rem;
}
.navBottom ul li a div {
  line-height: 0.64rem;
}
.navBottom ul li a div span {
  display: inline-block;
  width: 0.46rem;
  height: 0.44rem;
  background-color: #ddd;
  vertical-align: middle;
  margin-top: -2px;
  background: url('../../images/customer_icon.png') no-repeat 0 -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li a p {
  font-size: 0.22rem;
  line-height: 12px;
  color: #999999;
}
.navBottom ul li:nth-of-type(2) a div span {
  width: 0.52rem;
  height: 0.42rem;
  background: url('../images/customer_icon.png') no-repeat -1.52rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(3) a div span {
  width: 0.34rem;
  height: 0.44rem;
  background: url('../images/customer_icon.png') no-repeat -2.28rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(4) a div span {
  width: 0.34rem;
  height: 0.42rem;
  background: url('../images/customer_icon.png') no-repeat -3.04rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5) a div span {
  width: 0.32rem;
  height: 0.42rem;
  background: url('../images/customer_icon.png') no-repeat -0.76rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li.active a div span {
  background: url('../images/customer_icon.png') no-repeat 0 -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li.active p {
  color: #4189FF;
}
.navBottom ul li:nth-of-type(2).active a div span {
  background: url('../images/customer_icon.png') no-repeat -1.52rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(2).active p {
  color: #4189FF;
}
.navBottom ul li:nth-of-type(3).active a div span {
  width: 0.32rem;
  height: 0.42rem;
  background: url('../images/customer_icon.png') no-repeat -2.28rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(4).active a div span {
  width: 0.34rem;
  height: 0.42rem;
  background: url('../images/customer_icon.png') no-repeat -3.04rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5).active a div span {
  background: url('../images/customer_icon.png') no-repeat -0.76rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5).active p {
  color: #4189FF;
}
.headerTop {
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 0.88rem;
  -webkit-background: linear-gradient(90deg, #3083FF, #1566DF);
  background: linear-gradient(90deg, #3083FF, #1566DF);
}
.headerTop .backBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 0.6rem;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
}
.headerTop .backBtn span {
  display: inline-block;
  width: 0.24rem;
  height: 0.36rem;
  background: url('../images/customer_icon.png') no-repeat -3.8rem -1.32rem;
  background-size: 4.54rem auto;
  vertical-align: middle;
}
body {
  padding-bottom: 1rem;
}
.goodsImgPart {
  position: relative;
}
.goodsImgPart .backBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 0.6rem;
  line-height: 0.92rem;
  text-align: center;
}
.goodsImgPart .backBtn span {
  display: inline-block;
  width: 0.24rem;
  height: 0.36rem;
  background: url('../images/customer_icon.png') no-repeat -3.8rem 0;
  background-size: 4.54rem auto;
  vertical-align: middle;
}
.goodsImgPart .onlyOneGoodImg img {
  width: 100%;
  background-color: #f00;
}
#goodDetailSwiper .swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #0076ff;
}
#goodDetailSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0076ff;
}
.goodsListPart .baseIndoPart {
  position: relative;
  background-color: #fff;
  padding-top: 3.2%;
}
.goodsListPart .baseIndoPart::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #D3DFEF;
  -ms-transform: scaleY(0.5);
  -moz-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.goodsListPart .baseIndoPart .goodsName {
  font-size: 0.34rem;
  line-height: 0.48rem;
  padding: 0 3.73333333%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #131314;
}
.goodsListPart .baseIndoPart .priceDv {
  font-size: 0.4rem;
  line-height: 25px;
  padding: 5.37634409%;
  color: #2F80F6;
}
.goodsListPart .baseIndoPart .priceDv .rmb {
  font-size: 0.24rem;
  margin-right: 0.04rem;
}
.goodsListPart .baseIndoPart .priceDv .storeNum {
  float: right;
  font-size: 0.2rem;
  color: #AFB8BB;
  line-height: 25px;
}
.goodsListPart .shopPart {
  display: table;
  width: 100%;
  background-color: #fff;
}
.goodsListPart .shopPart > div {
  display: table-cell;
  height: 1.56rem;
  vertical-align: middle;
}
.goodsListPart .shopPart > div:first-child {
  width: 16%;
  text-align: center;
  line-height: 1.56rem;
}
.goodsListPart .shopPart > div:first-child img {
  vertical-align: middle;
}
.goodsListPart .shopPart > div:last-child {
  width: 84%;
}
.goodsListPart .shopPart > div:last-child .shopName {
  font-size: 15px;
  color: #24272B;
  line-height: 23px;
}
.goodsListPart .shopPart > div:last-child .totalGoodsNum {
  font-size: 13px;
  line-height: 23px;
  color: #3E4A59;
}
.goodsListPart .chooseTypePart {
  padding: 0.34rem 4% 4.8%;
  background-color: #fff;
  position: relative;
  font-size: 0.28rem;
}
.goodsListPart .chooseTypePart > h4,
.goodsListPart .chooseTypePart > div {
  float: left;
  color: #B2B6BB;
}
.goodsListPart .chooseTypePart > h4 {
  width: 11.01449275%;
  line-height: 0.4rem;
}
.goodsListPart .chooseTypePart > div {
  width: 88.98550725%;
}
.goodsListPart .chooseTypePart > div h4 {
  color: #4B5461;
  line-height: 0.4rem;
}
.goodsListPart .chooseTypePart > div > div {
  font-size: 0;
}
.goodsListPart .chooseTypePart > div > div span {
  display: inline-block;
  vertical-align: middle;
}
.goodsListPart .chooseTypePart > div > div span:not(.typeNum) {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.12rem;
  background-color: #eee;
}
.goodsListPart .chooseTypePart > div > div .typeNum {
  line-height: 0.6rem;
  color: #3E4A59;
  font-size: 0.26rem;
}
.goodsListPart .chooseTypePart .typeDesBtn {
  position: absolute;
  top: 0;
  right: 4%;
  width: 12%;
  height: 100%;
}
.goodsListPart .chooseTypePart .typeDesBtn span {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.24rem;
  height: 0.36rem;
  background: url('../images/customer_icon.png') no-repeat -3.8rem -0.86rem;
  background-size: 4.54rem auto;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.goodsListPart .goodsInfoPart {
  background-color: #fff;
}
.goodsListPart .goodsInfoPart .infoNavUlDv {
  background-color: #fff;
  position: relative;
}
.goodsListPart .goodsInfoPart .infoNavUlDv .infoNavUl {
  display: flex;
  padding-bottom: 3.46666667%;
}
.goodsListPart .goodsInfoPart .infoNavUlDv .infoNavUl li {
  flex: auto;
  line-height: 0.92rem;
  font-size: 0.32rem;
  color: #4B5461;
  position: relative;
  text-align: center;
}
.goodsListPart .goodsInfoPart .infoNavUlDv .infoNavUl li::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.72rem;
  height: 0.06rem;
  background-color: #136EF1;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.goodsListPart .goodsInfoPart .infoNavUlDv .infoNavUl li.active {
  color: #136EF1;
}
.goodsListPart .goodsInfoPart .infoNavUlDv .infoNavUl li.active::after {
  display: block;
}
.goodsListPart .goodsInfoPart .infoNavUlDv.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.goodsListPart .goodsInfoPart .infoNavUlDv.fixed .backBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.6rem;
  line-height: 0.92rem;
  text-align: center;
}
.goodsListPart .goodsInfoPart .infoNavUlDv.fixed .backBtn span {
  display: inline-block;
  width: 0.24rem;
  height: 0.36rem;
  background: url('../images/customer_icon.png') no-repeat -3.8rem 0;
  background-size: 4.54rem auto;
  vertical-align: middle;
}
.goodsListPart .goodsInfoPart .infoNavUlDv.fixed .infoNavUl {
  padding-left: 0.6rem;
}
.goodsListPart .goodsInfoPart .infoContUl li .infoContTitle {
  position: relative;
  font-size: 0.3rem;
  line-height: 1.16rem;
  color: #3E4A59;
  padding: 0 4%;
}
.goodsListPart .goodsInfoPart .infoContUl li .infoContTitle .titleIcon {
  display: inline-block;
  width: 0.52rem;
  height: 0.52rem;
  background: url('../images/customer_icon.png') no-repeat 0 -1.88rem;
  background-size: 4.54rem auto;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 0.16rem;
}
.goodsListPart .goodsInfoPart .infoContUl li .infoContTitle .arrow {
  position: absolute;
  top: 50%;
  right: 4%;
  width: 0.24rem;
  height: 0.36rem;
  background: url('../images/customer_icon.png') no-repeat -3.8rem -0.86rem;
  background-size: 4.54rem auto;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.goodsListPart .goodsInfoPart .infoContUl li div {
  height: 300px;
  width: 100%;
  background-color: #efefef;
}
.goodsListPart .goodsInfoPart .infoContUl li:nth-of-type(2) .infoContTitle .titleIcon {
  background: url('../images/customer_icon.png') no-repeat 0 -1.88rem;
  background-size: 4.54rem auto;
}
.goodsListPart .goodsInfoPart .infoContUl li:nth-of-type(3) .infoContTitle .titleIcon {
  background: url('../images/customer_icon.png') no-repeat -0.76rem -1.88rem;
  background-size: 4.54rem auto;
}
.goodsListPart .goodsInfoPart .infoContUl li:nth-of-type(4) .infoContTitle .titleIcon {
  background: url('../images/customer_icon.png') no-repeat -1.52rem -1.88rem;
  background-size: 4.54rem auto;
}
.orderBtnPart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 1rem;
  padding-top: 0.06rem;
}
.orderBtnPart button {
  display: block;
  font-size: 0.32rem;
  color: #fff;
  width: 92%;
  line-height: 0.88rem;
  border-radius: 0.08rem;
  background-color: #0076FF;
  margin: 0 auto;
}
.addShopCarPart {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  height: 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.addShopCarPart .addShopCar {
  background-color: #fff;
  padding: 9.33333333% 4% 1.06666667%;
  border-top-left-radius: 0.14rem;
  border-top-right-radius: 0.14rem;
}
.addShopCarPart .goodsInfoDv {
  display: table;
  width: 100%;
}
.addShopCarPart .goodsInfoDv > div {
  display: table-cell;
  vertical-align: middle;
}
.addShopCarPart .goodsInfoDv > div:first-child {
  width: 23.1884058%;
}
.addShopCarPart .goodsInfoDv > div:first-child img {
  width: 100%;
  border-radius: 0.08rem;
}
.addShopCarPart .goodsInfoDv > div:last-child {
  width: 78.66666667%;
  padding-left: 5.76271186%;
}
.addShopCarPart .goodsInfoDv > div:last-child .goodsName,
.addShopCarPart .goodsInfoDv > div:last-child .goodsPrice {
  font-weight: 700;
  color: #24272B;
}
.addShopCarPart .goodsInfoDv > div:last-child .goodsName {
  font-size: 0.32rem;
  line-height: 0.32rem;
}
.addShopCarPart .goodsInfoDv > div:last-child .goodsName {
  font-size: 0.28rem;
  color: #4B5461;
  line-height: 0.36rem;
  margin: 2.03389831% 0;
}
.addShopCarPart .goodsInfoDv > div:last-child .goodsPrice {
  font-size: 0.48rem;
  line-height: 0.68rem;
}
.addShopCarPart .goodParamDv {
  position: relative;
}
.addShopCarPart .goodParamDv h4 {
  font-size: 0.32rem;
  line-height: 0.32rem;
  color: #3E4A59;
}
.addShopCarPart .goodParamDv ul {
  padding-bottom: 0.08rem;
}
.addShopCarPart .goodParamDv ul li {
  float: left;
  padding: 0 0.2rem;
  line-height: 0.76rem;
  font-size: 0.26rem;
  color: #77808A;
  border-radius: 0.08rem;
  border: 1px solid #D7E2F0;
  margin-right: 0.2rem;
  margin-bottom: 0.22rem;
}
.addShopCarPart .goodParamDv::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #D3DFEF;
  -ms-transform: scaleY(-50%);
  -moz-transform: scaleY(-50%);
  -webkit-transform: scaleY(-50%);
  -o-transform: scaleY(-50%);
  transform: scaleY(-50%);
}
.addShopCarPart .orderNumPart {
  padding-top: 6.66666667%;
  padding-bottom: 9.85507246%;
}
.addShopCarPart .orderNumPart > div {
  float: left;
}
.addShopCarPart .orderNumPart > div:first-child {
  font-size: 0.32rem;
  color: #3E4A59;
  line-height: 0.48rem;
}
.addShopCarPart .orderNumPart > div:last-child {
  float: right;
}
.addShopCarPart .orderNumPart > div:last-child input,
.addShopCarPart .orderNumPart > div:last-child span {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  text-align: center;
}
.addShopCarPart .orderNumPart > div:last-child input {
  width: 0.84rem;
  font-size: 0.32rem;
  height: 0.48rem;
  line-height: 0.48rem;
  color: #4F5362;
  margin: 0;
  border: 0;
  padding: 0;
}
.addShopCarPart .orderNumPart > div:last-child span {
  font-size: 0.48rem;
  width: 0.48rem;
  height: 0.48rem;
  color: #F2F5FB;
  line-height: 0.44rem;
  border: 1px solid #d3dfef;
  padding: 0;
}
.addShopCarPart .orderNumPart > div:last-child span.active {
  color: #B3BFD0;
}
.addShopCarPart .addShopCarBtn {
  display: block;
  font-size: 0.32rem;
  color: #fff;
  width: 92%;
  line-height: 0.88rem;
  border-radius: 0.08rem;
  background-color: #0076FF;
  margin: 0 auto;
}
.addShopCarPart .closeBtn {
  position: absolute;
  top: 4%;
  right: 4%;
  width: 7.46666667%;
  height: 7.46666667%;
}
.addShopCarPart .closeBtn span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.24rem;
  height: 0.24rem;
  background: url('../images/customer_icon.png') no-repeat -4.24rem -0.86rem;
  background-size: 4.54rem auto;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.addShopCarPart.active {
  height: auto;
}
/*# sourceMappingURL=goodsDetails.css.map */