<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="logPrefix" value="daoSql."/>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<!-- 实体类,简称 -设置别名  
	<typeAliases>
		<typeAlias alias="User" type="com.xhs.entity.User" ></typeAlias>
	</typeAliases>-->
	<!-- 实体接口映射资源 -->
	<!--
	<mapper resource="com/xhs/mapper/userMapper.xml" />
	<mapper resource="com.xhs.mapper.userMapper.xml"/>
		说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml
	 
	<mappers>
		<mapper resource="com/xhs/mapper/userMapper.xml" />
	</mappers>
	-->
	<plugins>
		<plugin interceptor="com.puqian.framework.mybatis.plugin.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.puqian.framework.jdbc.dialect.MySQLDialect"/>
		</plugin>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			 
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>

</configuration>  