<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/Associated_factory1.css" />

	<body>
		<div class="complete">
			<!--top-->
			<!--渐变-->
			<div class="top2">
				<div class="top3" id="top3"></div>
			</div>
		</div>
		<!--蒙版-->
		<div class="meng" id="meng">
			<div class="guanlian">
				<img src="../../shopping/img/lhpimg/guanbi.png"  class="img"/>
				
				<!--内容-->
				<div style="height: 526px;  width: 510px;  margin-left: 30px;" class="scroll"> 
		    		<div style="height:100%; width: 530px;" class="scroll-son"> 
		        		<div class="tu"></div>
						<div class="gongchang">关联工厂</div>
		
						<div class="yan">
							<span>验证码</span>
							<input type="text" placeholder="请输入验证码"/>
						</div>
						<div class="chang">
							<span>想要关联的工厂名称</span>
							<!--<input type="text" placeholder="请输入名称"/>-->
							<select id="chanming">
								<option>请选择工厂的名称</option>
							</select>
						</div>

						
						<div class="changpai">
							<span>想要关联的品牌</span>
							<div class="pinpai" id="pinPai">请选择想关联的品牌</div>
							<ul class="pinpai2" id="pinpai2">
								<!--<li class="1">品牌1</li>-->
								<!--<li class="2">品牌1</li>-->
								<!--<li class="3">品牌1</li>-->
								<!--<li class="4">品牌1</li>-->
								
							</ul>
							
						</div>
						<div class="chang" >
							<span>想要关联的系列</span>
							<!--<input type="text" placeholder="请选择想要关联的系列"/>-->
							<select  id="xilie" >
								<option>请选择想要关联的系列</option>
							</select>
						</div>
		    		</div>
				</div>
				
				<!--确定-->
				<div class="bottom">
					<div id="qu" class="yiyan qu fo">提交申请</div>
					<div id="fo" class="yiyan">暂不关联</div>
				</div>
				
				
			</div>
			
		</div>
	
		
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Associated_factory1.js" ></script>
	 <script type="text/javascript" src="../../shopping/js/Placeholder.js" ></script>
	 	
	 
	

</html>