<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/Change_Password1.css" />

	<body>
				<!--右-->
				<div class="right">
					<!--内容右边头部导航-->
					<div class="rdao">
						<ul>
							<li>
								<span id="span">修改密码</span>
								<div></div>
							</li>
						</ul>
					</div>
						
					<div class="mima">
						<span>当前密码</span><span>&nbsp;*</span><br/>
						<input type="text" id="jpad">
					</div>
					
					<div class="xinmima">
						<span>新密码</span><span>&nbsp;*</span><br/>
						<input type="password" id="npad">
					</div>
					
					<div class="quemima">
						<span>确认密码</span><span>&nbsp;*</span><br/>
						<input type="password" id="pad">
					</div>
					
					<input class="confirm" type="button" value="保存"/>
				</div>

	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Change_Password1.js" ></script>

</html>