<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>直链商城</title>
     <link rel="stylesheet" href="../../shopping/css/reset.css">
     <link rel="stylesheet" href="../../shopping/css/footer.css">
</head>
<body>
    <div  class="footer" style="z-index: 1;">
        <div class="ly_detail">
            <div>
              <span class="ly_png"><img src="../../shopping/img/footer/end.png" alt=""></span> 
            </div>
            <ul class="ly_advert">
                <li>
                <span><img src="../../shopping/img/footer/dollar-7.png" alt=""><span>消费者保障</span></span>  
                <p>保障范围：退货退款流程 服务中心详见更多服务</p>
                </li>  
                <li>
                <span><img src="../../shopping/img/footer/ic_pingtaibaguan.png" alt=""><span>平台把关</span></span>  
                <p>保障范围：退货退款流程 服务中心详见更多服务</p>
                </li> 
            <li>
                <span><img src="../../shopping/img/footer/safebox.png" alt=""><span>平台专业</span></span>  
                <p>保障范围：退货退款流程 服务中心详见更多服务</p>
                </li> 
                <li>
                <span><img src="../../shopping/img/footer/dollar-8.png" alt=""><span>平台服务</span></span>  
                <p>货品配送  发票须知</p>
                </li>  
                <li>
                <span><img src="../../shopping/img/footer/check-1.png" alt=""><span>关于我们</span></span>  
                <p>公司介绍 联系方式<br> 行业资讯</p>
                </li> 
            </ul>
        </div> 
        <div class="parten">
            <div class="web">
                <ul class="ly_web">
                    <li>
                    <span>网站</span>  
                    <p>Jeans <br> Jumpers<br> Leathe</p>
                    </li>  
                    <li>
                    <span>网站</span>  
                    <p>Dresses <br> Jumpsuits<br> Shirts<br> T-shirts</p>
                    </li> 
                    <li>
                    <span>网站</span>  
                    <p>Shirts <br>T-shirts</p>
                    </li> 
                </ul>
                <ul class="ly_web_right">
                    <li>
                    <p>公众号</p>  
                    <span class="fo_icon">
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i><br>
                        <p>暂未开通敬请期待</p>
                    </span>
                    </li>  
                    <li style="margin-left:100px">
                    <p>下载APP</p>  
                    <span class="erwei">
                        
                    </span>
                    <span class="erwei">
                    
                    </span>
                    </li>  
                </ul>
                <div class="line"></div>
                <div class="fo_search">
                <span><img src="../../shopping/img/footer/logo.png" alt=""></span>
                <span class="input_fo"><input class="input_sy" type="text" placeholder="请输入搜索内容"></input><i><img src="../../shopping/img/footer/ic_sousuo.png" alt=""></i></span> 
                </div>
            </div>
        <span class="dep"></span>
        </div>
    </div > 
</body>
</html>