<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<title>直链商城</title>
	</head> 
	<link rel="stylesheet" href="../../shopping/css/header.css" />
	<body>
		<div class="top">
			<div class="con">
				 <div class="con_a" >
				 	 <div id="yh">
				 	<p>132******09，您好，欢迎光临直链网商城</p>
				 	<img id="yho" src="../../shopping/img/head/User.png" class="yhaa"/>
				 	 <img id="yht" src="../../shopping/img/head/User (1).png" class="yhaa"/>
				 	 </div>
				 	<div class="yxi">
				 	<div class="sj">
				 		<img src="../../shopping/img/head/j.png"/>
				 	</div>
				 	<div class="xk">
				 		<div class="xk_tou">
				 			<img src="../../shopping/img/head/User 05c.png" />

				 		</div>
				 		<div class="xk_phone">
				 			<p>13227677877</p>
				 		<p>退出</p>
				 		</div>

				 	</div>
				 	</div>
				 </div>
				 <div class="con_aa">
				 	<p>您好，欢迎光临直链网商城</p>
				 </div>
				 <div class="con_b">
				 <ul class="con_bul">
				 	<li><img src="../../shopping/img/head/tx.png"/><p id="goPerson">用户中心</p></li>
				 	<li id="ino"><img src="../../shopping/img/head/lin.png"/><p>消息</p><p class="sl" style="color: #FD5700;">43</p><img id="so" src="../../shopping/img/head/User.png"/>
				 			  <img id="xo" src="../../shopping/img/head/User (1).png"/>
				 	</li>
				 	<li id="cat"><img   src="../../shopping/img/head/sou.png"/><p>购物车</p><p class="sl" style="color: #FD5700;">43</p><img id="st"  src="../../shopping/img/head/User.png"/>
				 	<img id="xt" src="../../shopping/img/head/User (1).png"/>
				 	<!--<img src="img/head/j.png" style="position: relative;top: 8px;left: -35px;width: 30px;height: 30px;"/>-->
				 	</li>
				 </ul>
				 <ul class="con_bbul">

				 	<li id="free_register"><p>免费注册</p></li>
				 	<li id="load_self"><p>亲,请登录</p></li>
				 </ul>

				 <div class="cart_xi">
				 	<div class="cart_sj">
				 		<img src="../../shopping/img/head/j.png"/>
				 	</div>
				 		<p class="cart_title">最近加入的宝贝</p>
				 		<div class="xian"></div>
				 		<div class="cart_gun">
				 			<div class="cart_guna">
				 		 <ul class="cart_ul">
				 		 	<li>

				 		 		<div class="cart_img">
				 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 60px;height: 60px;"/>
				 		 		</div>
				 		 		<div class="cart_zi">
				 		 			<p class="cart_zip">手电转家用充电式电动螺丝刀手枪电钻迷你工具2V…</p>
				 		 			<img class="delete" src="../../shopping/img/head/File add (2).png" />
				 		 			<p class="cart_money">¥200.00</p>
				 		 		</div>


				 		 	</li>
				 		 	<li>

				 		 		<div class="cart_img">
				 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 60px;height: 60px;"/>
				 		 		</div>
				 		 		<div class="cart_zi">
				 		 			<p class="cart_zip">手电转家用充电式电动螺丝刀手枪电钻迷你工具2V…</p>
				 		 			<img class="delete" src="../../shopping/img/head/File add (2).png" />
				 		 			<p class="cart_money">¥200.00</p>
				 		 		</div>


				 		 	</li>
				 		 	<li>

				 		 		<div class="cart_img">
				 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 60px;height: 60px;"/>
				 		 		</div>
				 		 		<div class="cart_zi">
				 		 			<p class="cart_zip">手电转家用充电式电动螺丝刀手枪电钻迷你工具2V…</p>
				 		 			<img class="delete" src="../../shopping/img/head/File add (2).png" />
				 		 			<p class="cart_money">¥200.00</p>
				 		 		</div>


				 		 	</li>
				 		 	<li>

				 		 		<div class="cart_img">
				 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 60px;height: 60px;"/>
				 		 		</div>
				 		 		<div class="cart_zi">
				 		 			<p class="cart_zip">手电转家用充电式电动螺丝刀手枪电钻迷你工具2V…</p>
				 		 			<img class="delete" src="../../shopping/img/head/File add (2).png" />
				 		 			<p class="cart_money">¥200.00</p>
				 		 		</div>


				 		 	</li>
				 		 	<li>

				 		 		<div class="cart_img">
				 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 60px;height: 60px;"/>
				 		 		</div>
				 		 		<div class="cart_zi">
				 		 			<p class="cart_zip">手电转家用充电式电动螺丝刀手枪电钻迷你工具2V…</p>
				 		 			<img class="delete" src="../../shopping/img/head/File add (2).png" />
				 		 			<p class="cart_money">¥200.00</p>
				 		 		</div>


				 		 	</li>
				 		 	<li>

				 		 		<div class="cart_img">
				 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 60px;height: 60px;"/>
				 		 		</div>
				 		 		<div class="cart_zi">
				 		 			<p class="cart_zip">手电转家用充电式电动螺丝刀手枪电钻迷你工具2V…</p>
				 		 			<img class="delete" src="../../shopping/img/head/File add (2).png" />
				 		 			<p class="cart_money">¥200.00</p>
				 		 		</div>


				 		 	</li>
				 		 </ul>
				 		 </div>
				 		 </div>
				 		 <div class="xiantwo"></div>
				 		 <div class="cart_mq">
				 		 	<div class="cart_shu">
				 		 		<span>共10件商品</span>
				 		 <span>合计: ¥200.00</span>
				 		 	</div>
				 		 <div class="gocart" id="gocart">
				 		 	<p class="gocart_p">去购物车</p>
				 		 </div>
				 		 </div>
				 	</div>

				 	<div class="info_xi">
				 	<div class="info_sj">
				 		<img src="../../shopping/img/head/j.png"/>
				 	</div>
				 		<p class="info_title">未读新信息</p>
				 		<img src="../../shopping/img/head/File add.png" class="inx"/>
				 		<div class="info_xian"></div>
				 		<div class="info_fu">
				 		<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
				 		<img class="info_fuimg" src="../../shopping/img/head/File add (1).png" />
				 		</div>
				 		 <ul class="info_ul">
				 		 	<li>
				 		 		<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;	height: 58px;"/>
				 		 	</li>
				 		 	<li>
				 		 		<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;	height: 58px;"/>
				 		 	</li>
				 		 	<li>
				 		 		<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;	height: 58px;"/>
				 		 	</li>
				 		 	<li class="gen">
				 		 		<img class="gen_a"  src="../../shopping/img/head/a5 copy 3.png" style="width: 56px;	height: 58px;"/>
				 		 		<img class="gen_b" id="gen_b" src="../../shopping/img/head/acopy 3 (1).png" style="width: 56px;	height: 58px;"/>
				 		 	</li>



				 		 </ul>

				 	</div>

				 	<div class="info_xione">
				 	<div class="info_sjone">
				 		<img src="../../shopping/img/head/j.png"/>
				 	</div>
				 		<p class="info_title">未读新信息</p>
				 		<img src="../../shopping/img/head/File add.png" class="inx"/>
				 		<div class="info_xian"></div>
				 		 <div class="info_xigun">
				 		 <ul class="info_xiulone">
				 		 	<li>
				 		 		 <div class="info_litop">

				 		<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
				 		<img  src="../../shopping/img/head/File add (2).png"/>

				 		 		 </div>
				 		 		 <div class="info_libottom">
				 		 		 		<div class="info_lileft">
				 		 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;"/>
				 		 		 		</div>
				 		 		 		<div class="info_liright">
				 		 		 			<p>订单号: 31460190429</p>
				 		 		 			<p>快递开始派件</p>
				 		 		 			<p>去看看	</p>
				 		 		 		</div>
				 		 		 </div>
				 		 	</li>
				 		 	<li>
				 		 		 <div class="info_litop">

				 		<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
				 		<img  src="../../shopping/img/head/File add (2).png"/>

				 		 		 </div>
				 		 		 <div class="info_libottom">
				 		 		 		<div class="info_lileft">
				 		 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;"/>
				 		 		 		</div>
				 		 		 		<div class="info_liright">
				 		 		 			<p>订单号: 31460190429</p>
				 		 		 			<p>快递开始派件</p>
				 		 		 			<p>去看看	</p>
				 		 		 		</div>
				 		 		 </div>
				 		 	</li>
				 		 	<li>
				 		 		 <div class="info_litop">

				 		<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
				 		<img  src="../../shopping/img/head/File add (2).png"/>

				 		 		 </div>
				 		 		 <div class="info_libottom">
				 		 		 		<div class="info_lileft">
				 		 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;"/>
				 		 		 		</div>
				 		 		 		<div class="info_liright">
				 		 		 			<p>订单号: 31460190429</p>
				 		 		 			<p>快递开始派件</p>
				 		 		 			<p>去看看	</p>
				 		 		 		</div>
				 		 		 </div>
				 		 	</li>
				 		 	<li>
				 		 		 <div class="info_litop">

				 		<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
				 		<img  src="../../shopping/img/head/File add (2).png"/>

				 		 		 </div>
				 		 		 <div class="info_libottom">
				 		 		 		<div class="info_lileft">
				 		 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;"/>
				 		 		 		</div>
				 		 		 		<div class="info_liright">
				 		 		 			<p>订单号: 31460190429</p>
				 		 		 			<p>快递开始派件</p>
				 		 		 			<p>去看看	</p>
				 		 		 		</div>
				 		 		 </div>
				 		 	</li>
				 		 	<li>
				 		 		 <div class="info_litop">

				 		<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
				 		<img  src="../../shopping/img/head/File add (2).png"/>

				 		 		 </div>
				 		 		 <div class="info_libottom">
				 		 		 		<div class="info_lileft">
				 		 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;"/>
				 		 		 		</div>
				 		 		 		<div class="info_liright">
				 		 		 			<p>订单号: 31460190429</p>
				 		 		 			<p>快递开始派件</p>
				 		 		 			<p>去看看	</p>
				 		 		 		</div>
				 		 		 </div>
				 		 	</li>
				 		 	<li>
				 		 		 <div class="info_litop">

				 		<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
				 		<img  src="../../shopping/img/head/File add (2).png"/>

				 		 		 </div>
				 		 		 <div class="info_libottom">
				 		 		 		<div class="info_lileft">
				 		 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;"/>
				 		 		 		</div>
				 		 		 		<div class="info_liright">
				 		 		 			<p>订单号: 31460190429</p>
				 		 		 			<p>快递开始派件</p>
				 		 		 			<p>去看看	</p>
				 		 		 		</div>
				 		 		 </div>
				 		 	</li>
				 		 	<li>
				 		 		 <div class="info_litop">

				 		<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
				 		<img  src="../../shopping/img/head/File add (2).png"/>

				 		 		 </div>
				 		 		 <div class="info_libottom">
				 		 		 		<div class="info_lileft">
				 		 		 			<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;"/>
				 		 		 		</div>
				 		 		 		<div class="info_liright">
				 		 		 			<p>订单号: 31460190429</p>
				 		 		 			<p>快递开始派件</p>
				 		 		 			<p>去看看	</p>
				 		 		 		</div>
				 		 		 </div>
				 		 	</li>
				 		 </ul>
				 		 </div>

				 	</div>


			</div>
			</div>

		</div>

		<!--<div class="serch">-->
			<!--<div class="serch_con">-->
				<!--&lt;!&ndash; logo &ndash;&gt;-->
				<!--<div class="logo">-->
					<!--<img src="../../shopping/img/index/logo.png" />-->
				<!--</div>-->
				<!--<div class="searcha">-->
					<!--&lt;!&ndash; 搜索框 &ndash;&gt;-->
					<!--<div class="search">-->
						<!--<div class="search_frame">-->
							<!--<input type="text" />-->
						<!--</div>-->
						<!--&lt;!&ndash; 搜索按钮 &ndash;&gt;-->
						<!--<div class="search_icon" id="search_icon">-->
							<!--<img src="../../shopping/img/index/ic_sousuo.png" />-->
						<!--</div>-->
					<!--</div>-->
					<!--&lt;!&ndash; 热搜词 &ndash;&gt;-->
					<!--<div class="search_hot">-->
						<!--<ul class="search_hot_ul" id="search_hot_ul">-->
							<!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
							<!--&lt;!&ndash;<li>刀具磨具</li>&ndash;&gt;-->
							<!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
							<!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
							<!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
							<!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/head.js" ></script>
	</html>
	 