<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/Identity_verification2.css" />

	<body>
		<div class="complete">
			<!--top-->
			<div id="top"></div>
			<!--渐变-->
			<div class="top2">
				<div class="top3"></div>
			</div>
			<div class="tu">
				<img src="../../shopping/img/lhpimg/password_reset1.png"/>
			</div>
			<div class="tiao">
				<div class="tiao2"><img src="../../shopping/img/lhpimg/step_complete1.png"/></div>
				<span class="tiao11">身份验证</span>
				<div class="tiao111"></div>
				
				<div class="tiao1 yan">2</div>
				<span class="tiao11">重置密码</span>
				<div class="tiao111"></div>
				
				<div class="tiao1">3</div>
				<span class="tiao11">重置成功</span>
			</div>
			<div class="hao">
				<span>新密码</span>
				<input type="password" placeholder="请输入新密码"/>
			</div>
			<div class="yanzhen ">
				<span>确认密码</span>
				<input type="password" placeholder="请确认密码"/>
			</div>
			<div class="xia" id="next_step2">下一步</div>
		</div>
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Identity_verification2.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Placeholder.js" ></script>
	<script>
		$("#top").load("head.html");

	</script>
</html>