<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/index.css" />
	<link rel="stylesheet" href="../../shopping/css/header.css" />
	<body>

			<div id="heada">

			</div>
			<div class="serch">
				<div class="serch_con">
					<!-- logo -->
					<div class="logo">
						<img src="../../shopping/img/index/logo.png" />
					</div>
					<div class="searcha">
						<!-- 搜索框 -->
						<div class="search">
							<div class="search_frame">
								<input type="text" />
							</div>
							<!-- 搜索按钮 -->
							<div class="search_icon" id="search_icon">
								<img src="../../shopping/img/index/ic_sousuo.png" />
							</div>
						</div>
						<!-- 热搜词 -->
						<div class="search_hot">
							<ul class="search_hot_ul" id="search_hot_ul">
								<!--<li>电气控制</li>-->
								<!--<li>刀具磨具</li>-->
								<!--<li>电气控制</li>-->
								<!--<li>电气控制</li>-->
								<!--<li>电气控制</li>-->
								<!--<li>电气控制</li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- 导航条 -->
			<div class="nav" id="nav1">
				<div class="nav_content">
					<div class="tabbox">

						<ul>

							<li class="active" id="shaixu">商品筛选</li>

							<li id="gongc">工厂列表</li>

						</ul>

					</div>
					<div class="nav_t">
						<ul class="nav_ul">
							<li>分类</li>
							<li>电动工具</li>
							<li>手动工具</li>
							<li>特惠活动</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="banner">

				<div class="banner_a">
					<div class="content">

						<div class="active" id="indexsp">

							<ul class="stya">
								<li class="ppa">
									<div class="pada">

									</div>
									<div class="ppa_a">
										<span>品牌</span>
										<i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
										<i><img class="left_jt" src="../../shopping/img/index/left.png"/></i>
									</div>
									<div class="ppa_b" id="ppa_b">
										<!--<span>德力士</span>-->
										<!--<span>3M</span>-->

									</div>

									<div class="white">
										<div class="whiteer">
											<ul class="white_a">

												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
											</ul>

											<ul class="white_a">

												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>

											</ul>
										</div>
										<div class="whiteto_imh">
											<div class="whiteto_imha">
												<img src="../../shopping/img/index/Banner -s.png" />
											</div>
											<div class="whiteto_imha">
												<img src="../../shopping/img/index/Banner -s2.png" />
											</div>

										</div>
									</div>
								</li>
								<li class="ppa">
									<div class="pada">

									</div>
									<div class="ppa_a">
										<span>系列</span>
										<i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
										<i><img class="left_jt" src="../../shopping/img/index/left.png"/></i>
									</div>
									<div class="ppa_b" id="index_list">
										<!--<span>电气控制</span>-->
										<!--<span>刀具磨具</span>-->
									</div>

									<div class="white">
										<div class="whiteer">
											<ul class="white_a">

												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
											</ul>

											<ul class="white_a">

												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>

											</ul>
										</div>
										<div class="whiteto_imh">
											<div class="whiteto_imha">
												<img src="../../shopping/img/index/Banner -s.png" />
											</div>
											<div class="whiteto_imha">
												<img src="../../shopping/img/index/Banner -s2.png" />
											</div>

										</div>
									</div>
								</li>

								<li class="ppa">
									<div class="pada">

									</div>
									<div class="ppa_a">
										<span>分类</span>
										<i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
										<i><img class="left_jt" src="../../shopping/img/index/left.png"/></i>
									</div>
									<div class="ppa_b" id="feileiinde">
										<!--<span>角磨机</span>-->
										<!--<span>电钻</span>-->
									</div>

									<div class="white">
										<div class="whiteer">
											<ul class="white_a">

												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
											</ul>

											<ul class="white_a">

												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>
												<li>
													<span>电气控制</span>
												</li>

											</ul>
										</div>
										<div class="whiteto_imh">
											<div class="whiteto_imha">
												<img src="../../shopping/img/index/Banner -s.png" />
											</div>
											<div class="whiteto_imha">
												<img src="../../shopping/img/index/Banner -s2.png" />
											</div>

										</div>
									</div>
								</li>

							</ul>
						</div>

						<div class="active" id="indexgc">

							<ul class="stya" id="stya">
								<!--<li class="ppa">-->
									<!--<div class="pada">-->

									<!--</div>-->
									<!--<div class="ppa_a" id="indexa1">-->
										<!--<span>A</span>-->
									<!--</div>-->
									<!--<div class="ppa_b" id="ppa_b">-->
										<!--<span>德力士士</span>-->
										<!--<span>德力士士</span>-->
										<!--<span>德力士士</span>-->

									<!--</div>-->

								<!--</li>-->
								<!--<li class="ppa">-->
									<!--<div class="pada">-->

									<!--</div>-->
									<!--<div class="ppa_a" id="indexa2">-->
										<!--<span><a>B</a></span>-->
									<!--</div>-->
									<!--<div class="ppa_b" id="ppa_b">-->
										<!--<span>德力士士</span>-->
										<!--<span>德力士士</span>-->
										<!--<span>德力士士</span>-->

									<!--</div>-->

								<!--</li>-->





							</ul>
						</div>


					</div>
					<div class="banner_aone">
						<!-- 轮播 -->
						<div id="lunbobox">

							<div class="lunbo" id="lunbos">

								<!-- 挖个坑 -->

							</div>

						</div>

					</div>
					<div class="banner_atwo">
						<div class="head">
							<img src="../../shopping/img/index/logo (1).png" />
							<div class="head_a"></div>
						</div>
						<div class="head_pic">
							<img src="../../shopping/img/index/ic_morentouxiang.png" />
						</div>
						<p>立即关联工厂</p>
						<p>立即登录关联您的工厂端</p>
						<div class="logingo">
							<div class="logingo_a">
								<span class="logingo_zi">注册</span>
							</div>
							<div class="logingo_b" id="login">
								<span class="logingo_zi">登录</span>
							</div>
						</div>
					</div>
					<div class="banner_at"></div>
					<div class="banner_athree">
						<img src="../../shopping/img/index/J6VHL~Z7Z8(I7A0)@K8W(SH.png" />
					</div>
					<div class="banner_athree">
						<img src="../../shopping/img/index/M3J.png" />
					</div>
					<div class="banner_afire">
						<img src="../../shopping/img/index/Y74.png" />
					</div>

				</div>
			</div>
			<div class="bannT">
				<img src="../../shopping/img/index/banner_5.png" />
			</div>
			<div class="prout">
				<ul class="prout_ul" id="prout_ul">
					<!--<li>-->
						<!--<div class="prout_ulpic">-->
							<!--<img src="../../shopping/img/index/Bitmap.png" />-->
						<!--</div>-->
						<!--<div class="prout_jg">-->
							<!--<p>¥197.00</p>-->
							<!--<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>-->

						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="prout_ulpic">-->
							<!--<img src="../../shopping/img/index/Bitmap.png" />-->
						<!--</div>-->
						<!--<div class="prout_jg">-->
							<!--<p>¥197.00</p>-->
							<!--<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>-->

						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="prout_ulpic">-->
							<!--<img src="../../shopping/img/index/Bitmap.png" />-->
						<!--</div>-->
						<!--<div class="prout_jg">-->
							<!--<p>¥197.00</p>-->
							<!--<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>-->

						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="prout_ulpic">-->
							<!--<img src="../../shopping/img/index/Bitmap.png" />-->
						<!--</div>-->
						<!--<div class="prout_jg">-->
							<!--<p>¥197.00</p>-->
							<!--<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>-->

						<!--</div>-->
					<!--</li>-->


				</ul>
			</div>

			<div class="electric" id="nav2">
				<div class="electrictop">
					<div class="electrictopa">
						<div class="elect_top">
							<div class="elect_ju"></div>
							<div class="elect_b">
								电机商品
							</div>
							<div class="elect_title">
								<ul>
									<li>电器控制</li>
									<li>电器控制</li>
									<li>电器控制</li>
									<li>电器控制</li>
									<li>电器控制</li>
									<li>电器控制</li>
								</ul>
							</div>
						</div>
						<div class="elect_prout">
							<div class="elect_proutleft">
								<p class="elect_proutlefta">电器控制</p>
								<p class="elect_proutleftb">三滚珠轴承设计</p>
								<div class="elect_proutleftpic">
									<img src="../../shopping/img/index/677da23a958a0f7335ba20ab06b6d919 copy.png" />
								</div>
								<p class="elect_proutleftc">
									¥197.00
								</p>
								<p class="elect_proutleftd">STANLEY 史丹利冲击电钻锂电手电钻</p>
								<div class="fff"></div>
							</div>

							<div class="elect_proutright">
								<ul class="proutright_ul">
									<li>
										<div class="proutright_ulpic">
											<img src="../../shopping/img/index/Bitmap.png" />
										</div>
										<div class="proutright_jg">
											<p>¥197.00</p>
											<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>

										</div>
									</li>
									<li>
										<div class="proutright_ulpic">
											<img src="../../shopping/img/index/Bitmap.png" />
										</div>
										<div class="proutright_jg">
											<p>¥197.00</p>
											<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>

										</div>
									</li>
									<li>
										<div class="proutright_ulpic">
											<img src="../../shopping/img/index/Bitmap.png" />
										</div>
										<div class="proutright_jg">
											<p>¥197.00</p>
											<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>

										</div>
									</li>
									<li>
										<div class="proutright_ulpic">
											<img src="../../shopping/img/index/Bitmap.png" />
										</div>
										<div class="proutright_jg">
											<p>¥197.00</p>
											<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>

										</div>
									</li>

								</ul>
							</div>

						</div>
					</div>

					<div class="electrictopb">
						<div class="elect_top">
							<div class="elect_jub"></div>
							<div class="elect_bb">
								电机商品
							</div>
							<div class="elect_title">
								<ul>
									<li>电器控制</li>
									<li>电器控制</li>
									<li>电器控制</li>
									<li>电器控制</li>
									<li>电器控制</li>
									<li>电器控制</li>
								</ul>
							</div>
						</div>
						<div class="elect_prout">
							<div class="elect_proutlefto">
								<p class="elect_proutlefta">电器控制</p>
								<p class="elect_proutleftb">三滚珠轴承设计</p>
								<div class="elect_proutleftpic">
									<img src="../../shopping/img/index/ju.png" />
								</div>
								<p class="elect_proutleftc">
									¥197.00
								</p>
								<p class="elect_proutleftd">STANLEY 史丹利冲击电钻锂电手电钻</p>
								<div class="fff"></div>
							</div>

							<div class="elect_proutright">
								<ul class="proutright_ul">
									<li>
										<div class="proutright_ulpic">
											<img src="../../shopping/img/index/Bitmap.png" />
										</div>
										<div class="proutright_jg">
											<p>¥197.00</p>
											<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>

										</div>
									</li>
									<li>
										<div class="proutright_ulpic">
											<img src="../../shopping/img/index/Bitmap.png" />
										</div>
										<div class="proutright_jg">
											<p>¥197.00</p>
											<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>

										</div>
									</li>
									<li>
										<div class="proutright_ulpic">
											<img src="../../shopping/img/index/Bitmap.png" />
										</div>
										<div class="proutright_jg">
											<p>¥197.00</p>
											<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>

										</div>
									</li>
									<li>
										<div class="proutright_ulpic">
											<img src="../../shopping/img/index/Bitmap.png" />
										</div>
										<div class="proutright_jg">
											<p>¥197.00</p>
											<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>

										</div>
									</li>

								</ul>
							</div>

						</div>
					</div>

				</div>
			</div>

			<div class="fgtwo">
				<div class="fgtwoCon">
					<span>2019</span>
					<span>疯狂嗨购</span>
				</div>
			</div>
			<div class="prountCon" id="nav3">
				<div class="prountCount">
					<div class="prountCount_top">
						<div class="ku"></div>
						<p class="prountCount_title">电机商品</p>
						<div class="prountCount_pic">
							<img src="../../shopping/img/index/ic_tng.png" />
							<span>查看更多</span>
						</div>
					</div>

					<div class="prountCount_left">
						<p>电器控制</p>
						<p>三滚珠轴承设计</p>
						<div class="prountCount_img">
							<img src="../../shopping/img/index/tu1.png" />
						</div>
						<ul class="prountCount_leftul">
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
						</ul>
					</div>
					<div class="prountCount_right">
						<ul class="prountCount_rightul">
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<div class="prountCon" id="nav4">
				<div class="prountCount">
					<div class="prountCount_top">
						<div class="ku"></div>
						<p class="prountCount_title">电机商品</p>
						<div class="prountCount_pic">
							<img src="img/index/ic_tng.png" />
							<span>查看更多</span>
						</div>
					</div>
					<div class="prountCount_left">
						<p>电器控制</p>
						<p>三滚珠轴承设计</p>
						<div class="prountCount_img">
							<img src="img/index/677da23a958a0f7335ba20ab06b6d919 copy.png" />
						</div>
						<ul class="prountCount_leftul">
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
						</ul>
					</div>

					<div class="prountCount_right">
						<ul class="prountCount_rightul">
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<div class="prountCon" id="nav5">
				<div class="prountCount">
					<div class="prountCount_top">
						<div class="ku"></div>
						<p class="prountCount_title">电机商品</p>
						<div class="prountCount_pic">
							<img src="../../shopping/img/index/ic_tng.png" />
							<span>查看更多</span>
						</div>
					</div>

					<div class="prountCount_left">
						<p>电器控制</p>
						<p>三滚珠轴承设计</p>
						<div class="prountCount_img">
							<img src="../../shopping/img/index/quan.png" />
						</div>
						<ul class="prountCount_leftul">
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
						</ul>
					</div>
					<div class="prountCount_right">
						<ul class="prountCount_rightul">
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="../../shopping/img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="ceb">
				<ul class="cebul" id="avu">
					<li>
						<a href="#nav1">
							<p id="na1" class="nat">导航</p>
						</a>
					</li>
					<li>
						<a href="#nav2">
							<p id="na2" class="nat">电机 商品</p>
						</a>
					</li>
					<li>
						<a href="#nav3">
							<p id="na3" class="nat">电机 商品</p>
						</a>
					</li>
					<li>
						<a href="#nav4">
							<p id="na4" class="nat">电机 商品</p>
						</a>
					</li>
					<li>
						<a href="#nav5">
							<p id="na5" class="nat">电机 商品</p>
						</a>
					</li>
					<li class="go_top"><img src="../../shopping/img/index/ic_zhiding.png" /></li>
				</ul>
			</div>
			<div class="ceright">
				<ul class="cerightul">
					<li><img src="../../shopping/img/index/gerb.png" /></li>
					<li><img src="../../shopping/img/index/ic_shop.png" /></li>
					<li><img src="../../shopping/img/index/ic_qq.png" /></li>
					<li class="go_top"><img src="../../shopping/img/index/ic_zhiding.png" /></li>

				</ul>
			</div>
		</div>
	<iframe src="bottom.html" width="100%" height="590px" frameborder="0" scrolling="no" ></iframe>
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js"></script>
	<script type="text/javascript" src="../../shopping/js/index.js"></script>
	<script type="text/javascript" src="../../shopping/js/lunbo.js"></script>
	<script type="text/javascript" src="../../shopping/js/head.js"></script>
	<script src="../../shopping/lib/artTemplate/artTemplate/template-web.js"></script>
	<script type="text/javascript" src="../../shopping/lib/vue.js"></script>
	<script type="text/javascript" src="../../shopping/lib/url.js"></script>


<script>
	$("#shaixu").click(function(){
		$(this).addClass("active")
		$("#gongc").removeClass("active");
		$("#indexsp").show();
		$("#indexgc").hide();
	})
	$("#gongc").click(function(){
		$(this).addClass("active");
		$("#shaixu").removeClass("active");
		$("#indexsp").hide();
		$("#indexgc").show();
	})
</script>

</html>