<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/Land.css" />

	<body>
		
		<!--蒙版-->
		<div class="meng" id="meng">
			<!--中间-->
			<div class="zhong">
				
				<div class="top" id="sweepCode"	>
					<div class="img">
						<img src="../../shopping/img/lhpimg/code_icon.png" />
					</div>
					<div class="bei">
						<img src="../../shopping/img/lhpimg/security.png"/>
						<span >扫码登录更安全</span>
					</div>
				</div>
				<div class="nei">
					账号登录
				</div>
				<div class="kuan">
					<img src="../../shopping/img/lhpimg/username_icon.png"/>
					<input type="text" placeholder="手机号" id="one"/>
				</div>
				<div class="kuan">
					<img src="../../shopping/img/lhpimg/password_icon.png"/>
					<input type="password" placeholder="密码" id="tow"/>
				</div>
				<div class="button" id="button">
					登 录
				</div>
				<div class="tishi">
					<div class="wei"></div>
					<div class="tu">
						<img src="../../shopping/img/lhpimg/success.png"/>
					</div>
					<div class="ti">登录成功</div>
				</div>
				<a href="Identity_verification1.html" class="a">忘记密码</a>
				<a href="#" class="a">免费注册</a>
			</div>
			
		</div>
		
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Land.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Placeholder.js" ></script>
<script>


</script>
</html>