<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/Receiving_address.css" />


	<body>


				<!--右-->
				<div class="right" >
					<!--内容右边头部导航-->
					<div class="rdao1">
						<span id="span">收货地址</span>
					</div>
					<div class="dizhi" id="addressList">
						<!--挖坑-->

					</div>
				</div>

	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/lib/artTemplate/artTemplate/template-web.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Receiving_address.js" ></script>

	<script type="text/template" id="tel">
	  {{ each data v i }}
		  <div class="zhi" >
				<div class="tiao1"></div>
			  {{if v.isDefault==0}}
				  <div class="mo">
				      <span style="display: inline-block;width:86px;height: 32px;"></span>
					  <img data-id="{{v.id}}" id="delete_address" src="../../shopping/img/lhpimg/Edit_Copy1.png">
					  <img data-id="{{v.id}}" data-list="{{v}}" id="edit_address" src="../../shopping/img/lhpimg/Edit.png">
					  <img data-id="{{v.id}}"  src="../../shopping/img/lhpimg/Edit_Copy.png">
				  </div>
			  {{ /if }}
			  {{if v.isDefault==1}}
			  <div class="mo1">
				  <img data-id="{{v.id}}"  src="../../shopping/img/lhpimg/label_moren1.png">
				  <img data-id="{{v.id}}" src="../../shopping/img/lhpimg/Edit_Copy1.png">
				  <img data-id="{{v.id}}" data-list="{{v}}"  id="edit_address"  src="../../shopping/img/lhpimg/Edit.png">
				  <img data-id="{{v.id}}"  src="../../shopping/img/lhpimg/Edit_Copy.png">
		      </div>
			{{ /if  }}
			  <div class="ming">
				 <span>{{ v.memberName }}</span>&nbsp;&nbsp;&nbsp;<span>{{v.phone}}</span>
			  </div>
			  <div class="qu">
				  <span>{{ v.provinceName }} {{v.countyName}} {{ v.cityName}} </span>
				  <span>{{v.detailAddress}}</span>
			  </div>
			  <img src="../../shopping/img/lhpimg/zhedan.png"  class="xiushi"/>
		 </div>
		{{ /each }}
	  <!--添加-->
	  <div class="tian">
		  <img src="../../shopping/img/lhpimg/Fill_103.png"/>
		  <div >添加新地址</div>
	  </div>

    </script>

</html>