<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/Receiving_address3.css" />
		
	

	<body>
		<div class="complete">
			<!--top-->
			<!--渐变-->
			<div class="top2">
				<div class="top3" id="top3"></div>
			</div>
		</div>
		<!--蒙版-->
		<div class="meng" id="meng">
		
			<div class="guanlian">
				<div class="top"><img src="../../shopping/img/lhpimg/guanbi.png" class="img"/></div>
				<div class="tu"><img src="../../shopping/img/lhpimg/Fill_1.png"/></div>
				<div class="ren">确定要删除地址吗？</div>
				<div id="qu" class="yiyan qu bian">确定</div>
				<div id="fo" class="yiyan ">取消</div>
			</div>	
		</div>
		
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Receiving_address3.js" ></script>

</html>