<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/searchPage.css" />
<body>
<div id="head"></div>
<div class="dt_top">
	<div class="dt_topcon"></div>
</div>
<div class="sp">
	<div class="sp_d">
		<p >
			关于“电钻”的搜索结果
		</p>
	</div>
</div>
<div class="serp">
	<div class="serp_con">
		<div class="serch_a">
			<div class="serch_pin"><span >品牌:</span></div>
			<div class="serch_mc" id="mco">
				<ul class="serch_mcul">
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>

				</ul>
				<!--<ul id="er" class="er">
                    <li>
                        <span>品牌名称2</span>
                    </li>

                </ul>-->
			</div>
			<div class="serp_gd">
				<div id="btn" class="btn">
					<span >更多<i><img src="../../shopping/img/searchPage/x.png"/></i></span>
				</div>
				<div id="btn1" class="btn1" >
					<span>收起<i><img src="../../shopping/img/searchPage/s.png"/></i></span>
				</div>
			</div>
		</div>


		<div class="serch_a">
			<div class="serch_pin"><span>系列:</span></div>
			<div class="serch_mc" id="mcone">
				<ul class="serch_mcul">
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>

					<li>
						<span>品牌名称2</span>
					</li>

				</ul>
			</div>
			<div class="serp_gd">
				<div id="btna" class="btn">
					<span >更多<i><img src="../../shopping/img/searchPage/x.png"/></i></span>
				</div>
				<div id="btna1" class="btn1" >
					<span>收起<i><img src="../../shopping/img/searchPage/s.png"/></i></span>
				</div>
			</div>
		</div>

		<div class="serch_a">
			<div class="serch_pin"><span>型号:</span></div>
			<div class="serch_mc" id="mctwo">
				<ul class="serch_mcul">
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>

					<li>
						<span>品牌名称2</span>
					</li>

				</ul>
			</div>
			<div class="serp_gd">
				<div id="btnb" class="btn">
					<span >更多<i><img src="../../shopping/img/searchPage/x.png"/></i></span>
				</div>
				<div id="btnb1" class="btn1" >
					<span>收起<i><img src="../../shopping/img/searchPage/s.png"/></i></span>
				</div>
			</div>
		</div>


		<div class="serch_a">
			<div class="serch_pin"><span>分类:</span></div>
			<div class="serch_mc" id="mcthree">
				<ul class="serch_mcul">
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>
					<li>
						<span>品牌名称2</span>
					</li>

					<li>
						<span>品牌名称2</span>
					</li>

				</ul>
			</div>
			<div class="serp_gd">
				<div id="btnc" class="btn">
					<span >更多<i><img src="../../shopping/img/searchPage/x.png"/></i></span>
				</div>
				<div id="btnc1" class="btn1" >
					<span>收起<i><img src="../../shopping/img/searchPage/s.png"/></i></span>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="serProut">
	<div class="serProut_con">
		<ul>
			<li>
				<div class="porut_img">
					<img src="../../shopping/img/index/Bitmap.png" />
					<div class="porut_mo">
						<div class="porut_ku">
							<div class="porut_kua">
								<img class="porut_kuaimg" src="../../shopping/img/searchPage/gmai.png" />
								<img class="porut_hkuaimg" src="../../shopping/img/searchPage/hgmai.png" />
								<div class="gmtk">
									<div class="gma">
										<span>立即购买</span>
									</div>
									<div class="xjt">
										<img src="../../shopping/img/searchPage/xjt.png" />
									</div>
								</div>
							</div>
							<div class="porut_kub">
								<img class="porut_kuaimg" src="../../shopping/img/searchPage/gwc.png" />
								<img class="porut_hkuaimg" src="../../shopping/img/searchPage/hgwc.png" />
								<div class="gmtk">
									<div class="gma">
										<span>加入购物车</span>
									</div>
									<div class="xjt">
										<img src="../../shopping/img/searchPage/xjt.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="porut_p">¥197.00</p>
				<p class="porut_pa">STANLEY 史丹利冲击电钻锂电手电钻电动</p>
			</li>

		</ul>
	</div>
</div>
<div class="tbpager">
	<div class="tbapager">
		<div class="pager">
			<span>上一页</span>
			<ul>
				<li>1</li>
				<li class="yan">2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>...</li>
				<li>56</li>
			</ul>
			<span>下一页</span>

			<span>跳转</span>
			<div class="xuanye">
				<input class="text_class" value="1" type="text"/>
				<div class="tz_tiao">
					<img src="../../shopping/img/searchPage/rij.png"/>
				</div>
			</div>
			<span>页</span>
		</div>
	</div>
</div>
<iframe src="footer.html" width="100%" height="600px" style="border:none"></iframe>
</body>
<script src="../../shopping/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="../../shopping/js/searchPage.js" ></script>
<script>
	$("#head").load("head.html")

	$.ajax({
		type:"get",//提交请求的方式
		cache:true,//是否有缓存
		url:"/query/goods",//访问servlet的路径
		dataType:"json",//没有这个，将把后台放会的json解析成字符串

		async:true,//是否异步
		error:function(request) {//请求出错
			alert("出错");
		},
		success:function(data) {//获得返回值
			console.log(data);
		}
	})
</script>
</html>
