<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/searchWu.css" />
	<body>
	<div id="head"></div>
		<div class="dt_top">
			<div class="dt_topcon"></div>
		</div>
		<div class="sp">
			<div class="sp_d">
				<p>
					关于“电钻”的搜索结果
				</p>
			</div>
		</div>
		<div class="spwu">
			<div class="spwuCon">
				<div class="spwucon_a">
					<div class="spwu_top">
						<div class="spwu_lv">
							<img src="../../shopping/img/searchPage/Fill 1.png" />
						</div>
						<div class="spwu_lz">
						<span>非常抱歉没有找到XXX的相关信息</span>
						</div>
					</div>
					<div class="spwu_bo">
						<p>建议您：</p>
						<p>1：重新筛选 </p>
						<p>2：点击在线咨询，向客服咨询 </p>
						<p>3：通过拨打客服电话，<span>400-000-9999</span>进行咨询</p>
					</div>
					<div class="spwu_btn">
						<div class="btnfan">
							<span>返回</span>
						</div>
						<div class="btnshou">
							<span>去首页</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<iframe src="footer.html" width="100%" height="600px" style="border:none"></iframe>
	</body>
	<script src="../../shopping/js/jquery-2.1.0.js"></script>
<script>
	$("#head").load("head.html")
</script>
</html>
