<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/storeDetails.css" />
	<link rel="stylesheet" href="../../shopping/css/header.css" />
	<body>

			<div id="heada">

			</div>
			<div class="serch">
				<div class="serch_con">
					<!-- logo -->
					<div class="logo">
						<img src="../../shopping/img/index/logo.png" />
					</div>
					<div class="searcha">
						<!-- 搜索框 -->
						<div class="search">
							<div class="search_frame">
								<input type="text" />
							</div>
							<!-- 搜索按钮 -->
							<div class="search_icon" id="search_icon">
								<img src="../../shopping/img/index/ic_sousuo.png" />
							</div>
						</div>
						<!-- 热搜词 -->
						<div class="search_hot">
							<ul class="search_hot_ul" id="search_hot_ul">
								<!--<li>电气控制</li>-->
								<!--<li>刀具磨具</li>-->
								<!--<li>电气控制</li>-->
								<!--<li>电气控制</li>-->
								<!--<li>电气控制</li>-->
								<!--<li>电气控制</li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bttna">
			<div class="bannT">
				<img src="../../shopping/img/index/banner_2.png" />
				<p id="mcname"></p>
			</div>
			</div>
			<!-- 导航条 -->
			<div class="nav" id="nav1">
				<div class="nav_content">
					<div class="tabbox">

						<ul>

							<li class="active" id="shaixu">商品筛选</li>

							 

						</ul>

					</div>
					<div class="nav_t">
						<ul class="nav_ul">
							<li>分类</li>
							<li>电动工具</li>
							<li>手动工具</li>
							<li>特惠活动</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="banner">

				<div class="banner_a">
					<div class="content">

						<div class="active" id="indexsp">

							<ul class="stya">
								<li class="ppa">
									<div class="pada">

									</div>
									<div class="ppa_a">
										<span>品牌</span>
										<i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
									</div>
									<div class="ppa_b" id="ppa_b">
										<!--<span>德力士</span>
										<span>3M</span>-->

									</div>
									 
									 
								</li>
								<li class="ppa">
									<div class="pada">

									</div>
									<div class="ppa_a">
										<span>系列</span>
										<i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
									</div>
									<div class="ppa_b" id="index_list">
										<!--<span>电气控制</span>
										<span>刀具磨具</span>-->
									</div>
								 
									 
								</li>

								<li class="ppa">
									<div class="pada">

									</div>
									<div class="ppa_a">
										<span>分类</span>
										<i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
									</div>
									<div class="ppa_b" id="feileiinde">
										<!--<span>角磨机</span>
										<span>电钻</span>-->
									</div>
									 
									 
								</li>

							</ul>
						</div>

						 


					</div>
					<div class="banner_aone">
						<!-- 轮播 -->
						<div id="lunbobox">

							<div class="lunbo" id="lunbos">

								<!-- 挖个坑 -->

							</div>

						</div>

					</div>
				 
					<div class="banner_at"></div>
					 
					 

				</div>
			</div>
			
			 

			 

		 <div id="contur">
		 	
		 </div>
			

			<!--<div class="prountCon" id="nav3">
				<div class="prountCount">
					<div class="prountCount_top">
						<div class="ku"></div>
						<p class="prountCount_title">电机商品</p>
						<div class="prountCount_pic">
							<img src="img/index/ic_tng.png" />
							<span>查看更多</span>
						</div>
					</div>
					<div class="prountCount_left">
						<p>电器控制</p>
						<p>三滚珠轴承设计</p>
						<div class="prountCount_img">
							<img src="img/index/677da23a958a0f7335ba20ab06b6d919 copy.png" />
						</div>
						<ul class="prountCount_leftul">
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
							<li><span>断路器</span></li>
						</ul>
					</div>

					<div class="prountCount_right">
						<ul class="prountCount_rightul">
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
							<li>
								<div class="pp_img">
									<img src="img/index/Bitmapa.png" />

								</div>
								<p>¥197.00</p>
								<p>STANLEY 史丹利冲击电钻锂电手电钻电动</p>
							</li>
						</ul>
					</div>

				</div>
			</div>-->

			 
			<div class="ceb">
				<ul class="cebul" id="avu">
					
					
				</ul>
			</div>
			<div class="ceright">
				<ul class="cerightul">
					<li><img src="../../shopping/img/index/gerb.png" /></li>
					<li><img src="../../shopping/img/index/ic_shop.png" /></li>
					<li><img src="../../shopping/img/index/ic_qq.png" /></li>
					<li class="go_top"><img src="../../shopping/img/index/ic_zhiding.png" /></li>

				</ul>
			</div>
		</div>
	<iframe src="bottom.html" width="100%" height="590px" frameborder="0" scrolling="no" ></iframe>
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js"></script>
	<script type="text/javascript" src="../../shopping/js/storeDetails.js"></script>
	<script type="text/javascript" src="../../shopping/js/lunbo.js"></script>
	<script src="../../shopping/lib/artTemplate/artTemplate/template-web.js"></script>
	<script type="text/javascript" src="../../shopping/lib/vue.js"></script>
	<script type="text/javascript" src="../../shopping/js/head.js"></script>

<script>
	$("#shaixu").click(function(){
		$(this).addClass("active")
		$("#gongc").removeClass("active");
		$("#indexsp").show();
		$("#indexgc").hide();
	})
	$("#gongc").click(function(){
		$(this).addClass("active");
		$("#shaixu").removeClass("active");
		$("#indexsp").hide();
		$("#indexgc").show();
	})
</script>

</html>