<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>

	</head>
	<link rel="stylesheet" href="../../shopping/css/User_center.css" />
	<body>
				<!--右-->
				<div class="right">
					<!--内容右边头部导航-->
					<div class="navt">
						<ul>
							<li  class="ntitle active">全部订单</li>
							<li class="ntitle">待付款</li>
							<li class="ntitle">待发货</li>
							<li class="ntitle">待收货</li>
							<li class="ntitle">已完成</li>
						</ul>
					</div>
					<!--信息参数-->
					<div class="canshu">
						<div>商品信息</div>
						<div>数量</div>
						<div>金额</div>
						<div>状态</div>
					</div>
					<div class="tabCon">
						<div class="tabC tab1">1</div><!--tabC-->
						<!--待支付-->
						<div class="tabC tab2">
							<!--<div class="ding">-->
								<!--<div class="bian">-->
									<!--<div class="biao"><img src="../../shopping/img/lhpimg/ic_date.png"/></div>-->
									<!--<div class="shi">2019/01/01</div>-->
									<!--<div class="hao"><span>订单号:</span> <span>259954695663626096</span></div>-->
									<!--<div class="shan"><img src="../../shopping/img/lhpimg/Edit_Copy1.png"/></div>-->
								<!--</div>-->
								<!--<div class="nei">-->
									<!--<div class="img">-->
										<!--<img src="../../shopping/img/lhpimg/Bitmap27.png" />-->
									<!--</div>-->
									<!--<div class="miao">-->
										<!--<span>手电转家用充电式电动螺丝刀手枪电钻迷你工具2V小锂电手钻电转</span>-->
										<!--<span>GSR 120-Li 单电版</span>-->
									<!--</div>-->
									<!--<div class="shulian">-->
										<!--1-->
									<!--</div>-->
									<!--<div class="shulian">-->
										<!--<span>¥</span>-->
										<!--<span class="money">200</span>-->
									<!--</div>-->
									<!--<div class="shulian yan">-->
										<!--待支付-->
									<!--</div>-->
									<!--<div class="onetai">-->
										<!--<div class="wpayNow">立即支付</div>-->
										<!--<div class="wcancel">取消订单</div>-->
										<!--<div class="wdetail">订单详情</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->

						</div><!--tabC-->
						<div class="tabC tab3">
							<!--<div class="ding">-->
								<!--<div class="bian">-->
									<!--<div class="biao"><img src="../../shopping/img/lhpimg/ic_date.png" /></div>-->
									<!--<div class="shi">2019/01/01</div>-->
									<!--<div class="hao"><span>订单号:</span> 259954695663626096</div>-->
									<!--<div class="shan"><img src="../../shopping/img/lhpimg/Edit_Copy1.png" /></div>-->
								<!--</div>-->
								<!--<div class="nei">-->
									<!--<div class="img">-->
										<!--<img src="../../shopping/img/lhpimg/Bitmap27.png" />-->
									<!--</div>-->
									<!--<div class="miao">-->
										<!--<span>手电转家用充电式电动螺丝刀手枪电钻迷你工具2V小锂电手钻电转</span>-->
										<!--<span>GSR 120-Li 单电版</span>-->
									<!--</div>-->
									<!--<div class="shulian">1</div>-->
									<!--<div class="shulian">-->
										<!--<span>¥</span>-->
										<!--<span>200</span>-->
									<!--</div>-->
									<!--<div class="shulian yan">待发货</div>-->
									<!--<div class="towtai">-->
										<!--<div>订单详情</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->

						</div><!--tabC-->
						<div class="tabC tab4">
							<!--<div class="ding">-->
								<!--<div class="bian">-->
									<!--<div class="biao"><img src="../../shopping/img/lhpimg/ic_date.png" /></div>-->
									<!--<div class="shi">2019/01/01</div>-->
									<!--<div class="hao"><span>订单号:</span><span>259954695663626096</span></div>-->
									<!--<div class="shan"><img src="../../shopping/img/lhpimg/Edit_Copy1.png" /></div>-->
								<!--</div>-->
								<!--<div class="nei">-->
									<!--<div class="img">-->
										<!--<img src="../../shopping/img/lhpimg/Bitmap27.png" />-->
									<!--</div>-->
									<!--<div class="miao">-->
										<!--<span>手电转家用充电式电动螺丝刀手枪电钻迷你工具2V小锂电手钻电转</span>-->
										<!--<span>GSR 120-Li 单电版</span>-->
									<!--</div>-->
									<!--<div class="shulian">1</div>-->
									<!--<div class="shulian"><span>￥</span><span>200</span></div>-->
									<!--<div class="shulian yan">待收货</div>-->
									<!--<div class="threetai">-->
										<!--<div class="threetai1">-->
											<!--<span>查看订单进度</span>-->
											<!--<img src="../../shopping/img/lhpimg/2.png" class="img1" />-->
											<!--<img src="../../shopping/img/lhpimg/4.png" class="img2" />-->
										<!--</div>-->
										<!--<div class="threetai2">订单详情</div>-->
										<!--<div class="xianqing9">-->
											<!--<div class="xq19">共计12件商品，合计: <span>¥12444.90</span> (运费: 50.00)</div>-->
											<!--<div class="xq29">-->
												<!--<div>收货地址：</div>-->
												<!--<div>内蒙古自治旗鄂尔多斯市东省自治县沙河发卡行发酵技术盟</div>-->
											<!--</div>-->
											<!--<div class="geli9"></div>-->
											<!--<div class="xq39">-->
												<!--<div class="xq319">-->
													<!--<div class="xqleft9">-->
														<!--<img src="../../shopping/img/lhpimg/Fill_2.png" />-->
														<!--<div class="tiao9"></div>-->
													<!--</div>-->
													<!--<div class="xqright9">-->
														<!--<span>完成收货</span>-->
														<!--<div>22019/10/14 12:12:12</div>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="xq329">-->
													<!--<div class="xqleft329">-->
														<!--<div class="dian329"></div>-->
														<!--<div class="tiao9"></div>-->
													<!--</div>-->
													<!--<div class="xq32div9">-->
														<!--<span>商品出库</span>-->
														<!--<div>22019/10/14 12:12:12</div>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="xq339">-->
													<!--<div class="xqleft339">-->
														<!--<div class="dian339"></div>-->
														<!--<div class="tiao9"></div>-->
													<!--</div>-->
													<!--<div class="xq33right9">-->
														<!--<span>订单以出库</span>-->
														<!--<div>22019/10/14 12:12:12</div>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="xq349">-->
													<!--<div class="xqleft349"></div>-->
													<!--<div class="xq34right9">-->
														<!--<span>订单以提交</span>-->
														<!--<div>22019/10/14 12:12:12</div>-->
													<!--</div>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->

						</div><!--tabC-->
						<div class="tabC tab5">
							<!--<div class="ding">-->
								<!--<div class="bian">-->
									<!--<div class="biao"><img src="../../shopping/img/lhpimg/ic_date.png" /></div>-->
									<!--<div class="shi">2019/01/01</div>-->
									<!--<div class="hao"><span>订单号:</span><span>259954695663626096</span></div>-->
									<!--<div class="shan"><img src="../../shopping/img/lhpimg/Edit_Copy1.png" /></div>-->
								<!--</div>-->
								<!--<div class="nei">-->
									<!--<div class="img">-->
										<!--<img src="../../shopping/img/lhpimg/Bitmap27.png" />-->
									<!--</div>-->
									<!--<div class="miao">-->
										<!--<span>手电转家用充电式电动螺丝刀手枪电钻迷你工具2V小锂电手钻电转</span>-->
										<!--<span>GSR 120-Li 单电版</span>-->
									<!--</div>-->
									<!--<div class="shulian">1</div>-->
									<!--<div class="shulian"><span>¥</span><span>200</span></div>-->
									<!--<div class="shulian">已完成</div>-->
									<!--<div class="towtai">-->
										<!--<div>订单详情</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->

						</div><!--tabC-->
					</div>

					<!--分页-->
						<div class="pager">


						</div>
				</div>

	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/User_center.js" ></script>
	<script>
		$(function(){









			//查看订单进度
            $(".threetai1").click(function(){

                    if ($(".xianqing9").is(":hidden")){
                        $(".img1").hide();
                        $(".img2").show();
                        $(".xianqing9").show();
                    }
                    else
                    {
                        $(".img1").show();
                        $(".img2").hide();
                        $(".xianqing9").hide();
                    }
            });
		 });
	</script>
</html>