<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/User_center2.css" />

	<body>
		<div class="complete">
			<!--top-->
			<div id="top">
					
			</div>
			<!--渐变-->
			<div class="top2"></div>
			<!--内容-->
			<div class="content">
	
			<div class="wz_con">
				<div class="wz_biao">
					<img class="wz_conimg" src="../../shopping/img/details/xz.png" />
				</div>
				<div class="wz_dz">
					<img src="../../shopping/img/details/arrow-scopy 2.png" />
					<span>我的订单</span>
					<img src="../../shopping/img/details/arrow-scopy 2.png" />
					<span>订单号: 31460190429</span>
				</div>

			</div>
			
				<!--左-->
				<div class="left">
					<div class="jian">
						<div class="img"><img src="../../shopping/img/lhpimg/shuwu1.png"/></div>
						<div class="ziti">
							<div class="zi">待支付</div>
							<div class="ding">订单号:<span>31460190429</span></div>
						</div>
					</div>
					
					<div class="xinxi">收货人信息</div>
					<div class="shouhuo">
						<div class="zhangwei"></div>
						<div class="toxiang"><img src="../../shopping/img/lhpimg/User_05c.png"/></div>
						<div class="geren"><span>收货人信息:</span><span>肖生克</span></div>
						<div class="geren"><span>电话:</span><span>166****5288</span></div>
						<div class="geren"><span>收货人地址:</span><span>上海上海市徐汇区全区上海泛太平洋大厦12层</span></div>
					</div>
				</div>
				<!--右-->
				<div class="right">
					<div class="righttop">
						<div class="rt1">
							<img src="../../shopping/img/lhpimg/juxin8.png"/>
							
							<span class="cu">提交订单</span>
							<span class="tianshu">2019/12/22 12:10:10</span>

						</div>
						<div class="rt2">
							<div class="rt2xian"> </div><img class="rt2img" src="../../shopping/img/lhpimg/sanjiaoxin.png"/>
							<div class="zhedang">
								<div></div><img src="../../shopping/img/lhpimg/fenzu5.png"/>
							</div>
						</div>
						<div class="rt1">
							<img src="../../shopping/img/lhpimg/juxin4.png"/>
							<span class="xi">付款成功</span>
							<span></span>
						</div>
						<div class="rt2">
							<div class="rt2xian"></div><img class="rt2img" src="../../shopping/img/lhpimg/sanjiaoxin.png"/>
						</div>
						<div class="rt1">
							
							<img src="../../shopping/img/lhpimg/juxin3.png"/>
							<span class="xi">商品出库</span>
							<span></span>
						</div>
						<div class="rt2">
							<div class="rt2xian"></div><img class="rt2img" src="../../shopping/img/lhpimg/sanjiaoxin.png"/>
						</div>
						<div class="rt1">
							
							<img src="../../shopping/img/lhpimg/juxin5.png"/>
							<span class="xi">完成收货</span>
							<span></span>
						</div>
					</div>
					
					<div class="nei">
						<div class="shangpan">商品信息</div>
						<div class="canshu">
							<span>商品信息</span>
							<span>数量</span>
							<span>金额</span>
						</div>
						<div class="shuju">
							<div class="tu">
								<img src="../../shopping/img/lhpimg/Bitmap1.png"/>
							</div>
							<div class="miao">
								<span>手电转家用充电式电动螺丝刀手枪电钻迷你工具2V小锂电手钻电转</span>
								<span>GSR 120-Li 单电版</span>
							</div>
							<div class="shuliang">
								1
							</div>
							<div class="jiage">
								¥200.00
							</div>
						</div>
						<div class="shuju">
							<div class="tu">
								<img src="../../shopping/img/lhpimg/Bitmap1.png"/>
							</div>
							<div class="miao">
								<span>手电转家用充电式电动螺丝刀手枪电钻迷你工具2V小锂电手钻电转</span>
								<span>GSR 120-Li 单电版</span>
							</div>
							<div class="shuliang">
								1
							</div>
							<div class="jiage">
								¥200.00
							</div>
						</div>
					</div>					
					<a class="ping" href="#">查看付款凭证</a>
					<div class="jine">
						<div class="yiyan">原价&nbsp;<span>¥464</span></div>
						<div class="yiyan">优惠&nbsp;<span>¥4</span></div>
						<div class="yiyan">运费&nbsp;<span>¥10</span></div>
						<div class="noyiyan">合计:</div>
						<div class="zje">¥470</div>
					</div>
				</div>
			</div>
			<iframe src="footer.html" width="100%" height="590px" style="border: none;"></iframe>
		</div>
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/User_center2.js" ></script>
	<script>
		$(function(){
			$("#top").load("head.html");
		 	
		 });
	</script>
</html>