<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../../h5/css/init.css">
  <link rel="stylesheet" href="../../../h5/css/search.css">
  <script src="../../../h5/js/rem.js"></script>
  <title>搜索</title>
</head>

<body>
  <div class="s_containner">
    <div class="search">
      <img src="../../../h5/images/search88.png" alt="" class="icon_search">
      <input type="text" class="search_container">
      <img src="../../../h5/images/search_close@2x.png" alt="" class="icon_search_cancel">
      <span>取消</span>
    </div>

    <!-- 没有符合商品 -->
    <div class="no_good">
      <img src="../../../h5/images/home_search_bg@2x.png" alt="">
      <p class="tips">没有找到符合条件的商品哦</p>
      <P class="change_word">换个关键词试试吧~</P>
    </div>

    <!-- 搜索历史 -->
    <div class="search_history hide">
      <div class="search_title">
        <p>历史搜索</p>
        <img src="../../../h5/images/ic_search_delet@2x.png" alt="">
      </div>

      <ul>
        <li>螺丝刀</li>
        <li>螺丝刀螺丝刀</li>
        <li>螺丝刀</li>
        <li>螺丝刀</li>
        <li>螺丝刀螺丝刀螺丝刀螺丝刀</li>
        <li>螺丝刀</li>
        <li>螺丝刀螺丝刀螺丝刀</li>
        <li>螺丝刀</li>
        <li>螺丝刀螺丝刀</li>
      </ul>
    </div>

    <div class="show_search_items">
      <ul>
        <li>
          电锯
        </li>
        <li>
            螺丝刀螺丝刀螺丝刀
        </li>
        <li>
          电锯
        </li>
        <li>
            电动汽车
        </li>
        <li>
            螺丝刀螺丝刀螺丝刀螺丝刀
        </li>
      </ul>
    </div>





  </div>
</body>

</html>