<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../../h5/css/init.css">
  <link rel="stylesheet" href="../../../h5/css/setpass.css">
  <script src="../../../h5/js/rem.js"></script>
  <title>修改密码</title>
</head>

<body>
  <div class="p_container">
    <ul>
      <li class="err">
          <p>新密码</p>
          <div>
            <input type="text" placeholder="请输入新密码">
          </div>
      </li>
      <li class="corrent">
        <p>确认密码</p>
        <div>
            <input type="text" placeholder="请确认密码">
        </div>
      </li>
    </ul>
    <div class="z_lond opacity">完成</div>
  </div>
</body> 

</html>