body {
  background-color: #E9EFF7;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
.marginTop {
  border-top: 0.2rem solid #e9eff7;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
}
.clearfix::after {
  clear: both;
}
.container {
  width: 84%;
  margin: 0 auto;
}
.navBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.navBottom ul {
  display: flex;
}
.navBottom ul li {
  flex: auto;
  text-align: center;
}
.navBottom ul li a {
  display: block;
  padding-bottom: 0.1rem;
}
.navBottom ul li a div {
  line-height: 0.64rem;
}
.navBottom ul li a div span {
  display: inline-block;
  width: 0.46rem;
  height: 0.44rem;
  background-color: #ddd;
  vertical-align: middle;
  margin-top: -2px;
  background: url('../../images/customer_icon.png') no-repeat 0 -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li a p {
  font-size: 0.22rem;
  line-height: 12px;
  color: #999999;
}
.navBottom ul li:nth-of-type(2) a div span {
  width: 0.52rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -1.52rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(3) a div span {
  width: 0.34rem;
  height: 0.44rem;
  background: url('../../images/customer_icon.png') no-repeat -2.28rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(4) a div span {
  width: 0.34rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -3.04rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5) a div span {
  width: 0.32rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -0.76rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li.active a div span {
  background: url('../../images/customer_icon.png') no-repeat 0 -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li.active p {
  color: #4189FF;
}
.navBottom ul li:nth-of-type(2).active a div span {
  background: url('../../images/customer_icon.png') no-repeat -1.52rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(2).active p {
  color: #4189FF;
}
.navBottom ul li:nth-of-type(3).active a div span {
  width: 0.32rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -2.28rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(4).active a div span {
  width: 0.34rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -3.04rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5).active a div span {
  background: url('../../images/customer_icon.png') no-repeat -0.76rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5).active p {
  color: #4189FF;
}
