body {
  background-color: #E9EFF7;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
.marginTop {
  border-top: 0.2rem solid #e9eff7;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
}
.clearfix::after {
  clear: both;
}
.container {
  width: 84%;
  margin: 0 auto;
}
.navBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.navBottom ul {
  display: flex;
}
.navBottom ul li {
  flex: auto;
  text-align: center;
}
.navBottom ul li a {
  display: block;
  padding-bottom: 0.1rem;
}
.navBottom ul li a div {
  line-height: 0.64rem;
}
.navBottom ul li a div span {
  display: inline-block;
  width: 0.46rem;
  height: 0.44rem;
  background-color: #ddd;
  vertical-align: middle;
  margin-top: -2px;
  background: url('../../images/customer_icon.png') no-repeat 0 -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li a p {
  font-size: 0.22rem;
  line-height: 12px;
  color: #999999;
}
.navBottom ul li:nth-of-type(2) a div span {
  width: 0.52rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -1.52rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(3) a div span {
  width: 0.34rem;
  height: 0.44rem;
  background: url('../../images/customer_icon.png') no-repeat -2.28rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(4) a div span {
  width: 0.34rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -3.04rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5) a div span {
  width: 0.32rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -0.76rem -0.76rem;
  background-size: 4.54rem auto;
}
.navBottom ul li.active a div span {
  background: url('../../images/customer_icon.png') no-repeat 0 -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li.active p {
  color: #4189FF;
}
.navBottom ul li:nth-of-type(2).active a div span {
  background: url('../../images/customer_icon.png') no-repeat -1.52rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(2).active p {
  color: #4189FF;
}
.navBottom ul li:nth-of-type(3).active a div span {
  width: 0.32rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -2.28rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(4).active a div span {
  width: 0.34rem;
  height: 0.42rem;
  background: url('../../images/customer_icon.png') no-repeat -3.04rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5).active a div span {
  background: url('../../images/customer_icon.png') no-repeat -0.76rem -1.32rem;
  background-size: 4.54rem auto;
}
.navBottom ul li:nth-of-type(5).active p {
  color: #4189FF;
}
body {
  background-color: #fff;
}
.welcomeLogin {
  position: relative;
  padding-top: 53.333%;
  -webkit-background: linear-gradient(90deg, #2c80fb, #196ae3);
  background: linear-gradient(90deg, #2c80fb, #196ae3);
  color: #fff;
}
.welcomeLogin p,
.welcomeLogin span {
  position: absolute;
}
.welcomeLogin p {
  top: 40%;
  left: 8%;
  font-size: 0.56rem;
  line-height: 40px;
  font-weight: 700;
}
.welcomeLogin span {
  bottom: 0;
  left: 10.93333333%;
  font-size: 0.32rem;
  line-height: 0.32rem;
  font-weight: 700;
  padding: 0 0.3rem 0.42rem;
  border-bottom: 0.04rem solid #ffffff;
}
.loginForm {
  font-size: 0.26rem;
}
.loginForm .inputDv {
  padding-top: 11.73333333%;
}
.loginForm .inputDv label,
.loginForm .inputDv input {
  display: inline-block;
}
.loginForm .inputDv label {
  line-height: 0.36rem;
  color: #3E4A59;
}
.loginForm .inputDv > div {
  position: relative;
}
.loginForm .inputDv input {
  width: 100%;
  line-height: 0.52rem;
  font-size: 0.4rem;
  color: #24272B;
  border-bottom: 0.04rem solid #d3dfef;
  padding: 0.2rem 0;
}
.loginForm .inputDv span {
  display: none;
  position: absolute;
  top: 50%;
  right: 0.06rem;
  width: 0.28rem;
  height: 0.28rem;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.loginForm .inputDv.errorDv span,
.loginForm .inputDv.rightDv span {
  display: block;
}
.loginForm .inputDv.errorDv label {
  color: #FE4F62;
}
.loginForm .inputDv.errorDv input {
  border-bottom-color: #FE5067;
}
.loginForm .inputDv.errorDv span {
  background: url('../../image/login_icon.png') no-repeat -0.4rem 0;
  background-size: 1.08rem auto;
}
.loginForm .inputDv.rightDv label {
  color: #3E4A59;
}
.loginForm .inputDv.rightDv input {
  border-bottom-color: #30DA51;
}
.loginForm .inputDv.rightDv span {
  background: url('../../image/login_icon.png') no-repeat -0.8rem 0;
  background-size: 1.08rem auto;
}
.loginForm .rememberPasswordDv {
  padding-top: 8%;
  padding-bottom: 38.4%;
  line-height: 0.36rem;
}
.loginForm .rememberPasswordDv input {
  width: 0.28rem;
  height: 0.28rem;
  border: 0.04rem solid #b3bfd0;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -2px;
}
.loginForm .rememberPasswordDv input:checked {
  border: 0;
  background: url('../../image/login_icon.png') no-repeat 0 0;
  background-size: 1.08rem auto;
}
.loginForm .rememberPasswordDv input:checked + label {
  color: #136ef1;
}
.loginForm .rememberPasswordDv a {
  float: right;
  color: #136ef1;
}
.loginForm .loginBtn {
  display: block;
  color: #fff;
  width: 83.2%;
  font-size: 0.28rem;
  line-height: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
  -webkit-background: linear-gradient(90deg, #2c80fb, #196ae3);
  background: linear-gradient(90deg, #2c80fb, #196ae3);
}
