html,
body {
  background: #f2f5fb;
}
.p_container {
  background-color: #fff;
}
.p_container ul {
}
.p_container ul li {
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 0.3rem;

}
.p_container ul li p {
  font-size: 0.28rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color:rgba(102,102,102,1);
}
.p_container ul li div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}

.p_container ul li div .r_arrow {
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.24rem;
}

.login_out {
  width: 6.24rem;
  height: 1rem;
  position: absolute;
  bottom: 0.4rem;
  left: 0.64rem;
border:1px solid;
border-radius:25px;
text-align: center;
line-height: 1rem;
font-size:0.28rem;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(47,128,246,1);
}