* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
}

#asad {
    margin-left: -10px;
}

.dt_top {
    width: 100%;
    height: 46px;
    background: linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
}

.dt_topcon {
    width: 1200px;
    height: 46px;
    margin: 0 auto;
    background: linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
}

.sp {
    width: 100%;
    height: 44px;
}

.sp_d {
    width: 1200px;
    height: 44px;
    background: rgba(244, 246, 247, 1);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 30px;
}

.sp_d p {
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(68, 68, 68, 1);
    line-height: 20px;
    padding: 12px 0 12px 30px;
}

.houd {
    width: 100%;
    height: auto;
}

.houd_con {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
}

.houd_conp {
    font-size: 30px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(68, 68, 68, 1);
    line-height: 42px;
    text-align: center;
}

.houd_conspan {
    display: block;
    font-size: 18px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(68, 68, 68, 1);
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
}

.houd_img {
    text-align: center;
    width: 1200px;
    height: auto;
    margin-top: 30px;
}

.acsui {
    font-size: 18px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(68, 68, 68, 1);
    line-height: 25px;
    text-align: center;
    margin-top: 25px;
}

.scspan {
    display: block;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    /*line-height: 22px;*/
    margin: 0px 50px;
    margin-top: 10px;
    word-break: break-word;
}

.scspan img {
    display: block;
    margin: 0 auto;
}

.serProut {
    width: 100%;
}

.serProut_con {
    width: 1200px;
    overflow: auto;
    margin: 0 auto;
    margin-top: 46px;
}

.serProut_con li {
    width: 184px;
    height: 252px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #FFFFFF;
    margin-right: 64px;
    cursor: pointer;
    float: left;
    margin-bottom: 30px;
}

.serProut_con li:hover {
    border: 1px solid rgba(253, 87, 0, 1);
}


/*.ache{*/


/*height: 5px;*/


/*width: 0px;*/


/*background:rgba(253, 87, 0, 1) ;*/


/*margin-top: 30px;*/


/*margin-left: -1px;*/


/*transition:width 0.2s;*/


/*}*/

.serProut_con li:hover .ache {
    width: 186px;
}

.serProut_con li:hover .porut_mo {
    display: block;
}

.serProut_con li:nth-child(5n) {
    margin-right: 0;
}

.porut_img {
    width: 184px;
    height: 161px;
    position: relative;
}

.porut_img img {
    width: 70%;
    height: 70%;
    margin-top: 10px;
    margin-left: 20px;
}

.porut_mo {
    position: absolute;
    width: 184px;
    height: 161px;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    display: none;
}

.porut_p {
    text-align: center;
    font-size: 16px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(253, 87, 0, 1);
    line-height: 22px;
    padding-top: 9px;
}

.porut_pa {
    text-align: center;
    width: 169px;
    padding-left: 8px;
    font-size: 13px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(79, 83, 98, 1);
    line-height: 18px;
}

.porut_ku {
    width: 186px;
    height: 40px;
    margin-top: 123px;
    animation: myfirst 0.1s;
    -webkit-animation: myfirst 0.2s;
    animation-fill-mode: forwards;
    display: none;
}

@-webkit-keyframes myfirst
/* Safari and Chrome */

{
    0% {
        margin-top: 163px;
    }
    25% {
        margin-top: 153px;
    }
    50% {
        margin-top: 143px;
    }
    75% {
        margin-top: 133px;
    }
    100% {
        margin-top: 123px;
    }
}

.serProut_con li:hover .porut_ku {
    display: block;
}

.porut_kua {
    width: 40px;
    height: 40px;
    margin-left: 29px;
    float: left;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.porut_kub {
    width: 40px;
    height: 40px;
    margin-left: 29px;
    float: left;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.porut_kua {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    float: left;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.porut_kuaimg {
    position: absolute;
    top: -20px;
    left: -10px;
}

.porut_hkuaimg {
    position: absolute;
    top: -20px;
    left: -10px;
    display: none;
}

.porut_kub {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 16px;
    float: left;
    border-radius: 50%;
    position: relative;
}

.xjt {
    position: absolute;
    top: -38px;
    left: -8px;
}

.gmtk {
    display: none;
    margin-top: -20px;
    -webkit-animation-name: fadeIn;
    /*动画名称*/
    -webkit-animation-duration: 0.5s;
    /*动画持续时间*/
    -webkit-animation-iteration-count: 1;
    /*动画次数*/
    -webkit-animation-delay: 0s;
    /*延迟时间*/
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        /*初始状态 透明度为0*/
    }
    50% {
        opacity: 0;
        /*中间状态 透明度为0*/
    }
    100% {
        opacity: 1;
        /*结尾状态 透明度为1*/
    }
}

.porut_kua:hover .gmtk {
    display: block;
}

.porut_kua:hover .porut_hkuaimg {
    display: block;
}

.porut_kua:hover .porut_kuaimg {
    display: none;
}

.porut_kub:hover .gmtk {
    display: block;
}

.porut_kub:hover .porut_hkuaimg {
    display: block;
}

.porut_kub:hover .porut_kuaimg {
    display: none;
}

.gma {
    width: 66px;
    height: 18px;
    background: rgba(253, 87, 0, 1);
    position: absolute;
    top: -35px;
    left: -10px;
    text-align: center;
    border-radius: 20px;
}

.gma span {
    display: block;
    font-size: 10px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 14px;
    margin-top: 2px;
}

.tbpager {
    width: 100%;
    height: 30px;
}

.tbapager {
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}

.pager {
    float: right;
    width: auto;
    height: 30px;
    margin-top: 25px;
    /*border: 1px solid red;*/
}

.pager span {
    float: left;
    width: 51px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(60, 61, 72, 1);
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
    text-align: center;
}

.pager ul {
    margin: 5px 10px 5px 30px;
    float: left;
    width: 227px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(60, 61, 72, 1);
    line-height: 20px;
    letter-spacing: 2px;
}

.pager ul li {
    float: left;
    width: 32px;
    height: 20px;
    /*border: 1px solid red;*/
}

.pager span:nth-of-type(3) {
    margin-left: 20px;
}

a {
    width: auto;
    height: 23px;
    text-align: center;
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    padding: 0px 5px;
    line-height: 23px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(60, 61, 72, 1);
}

.current {
    background-color: rgba(255, 125, 57, 1);
}

.text_class {
    width: 40px;
    height: 25px;
    border: 1px solid silver;
    text-align: center;
}

.tz_tiao {
    width: 25px;
    height: 26px;
    background-color: rgba(255, 125, 57, 1);
    color: white;
    margin: 0 4px;
}

.meng {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    display: none;
}

.guanlian {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -196px;
    margin-top: -153px;
    width: 392px;
    height: 306px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
}

.toptan {
    position: relative;
    width: 392px;
    height: 60px;
}

.toptan img {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 19px;
    right: 19px;
    cursor: pointer;
}

.icons {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.icons img {
    width: 100%;
    height: 100%;
}

.success_add {
    margin: 0 auto;
    margin-top: 20px;
    width: auto;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(79, 83, 98, 1);
    line-height: 22px;
    text-align: center;
}

.yiyan {
    margin: 0 auto;
    margin-top: 60px;
    width: 110px;
    height: 43px;
    border-radius: 4px;
    border: 1px solid rgba(206, 208, 218, 1);
    text-align: center;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(79, 83, 98, 1);
    line-height: 43px;
}

.yiyan:hover {
    cursor: pointer;
}

.block {
    display: block;
}


/* 新增：活动时间样式 */

.acsui_time {
    margin-top: 20px;
    padding-left: 50px;
}


/*<!--库存不足弹窗-->*/

.meng5 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.popupMsg5 {
    display: none;
    width: 392px;
    height: 348px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1001;
    border-radius: 5px;
}

.popupMsg5 .close {
    float: right;
    width: 21px;
    height: 21px;
    margin: 15px;
    cursor: pointer;
}

.popupMsg5 .tips {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 60px;
}

.popupMsg5 p {
    display: block;
    text-align: center;
    width: 316px;
    line-height: 28px;
    color: #A7A7AC;
    margin: 0 auto;
    margin-top: 48px;
}

.popupMsg5 .know {
    width: 110px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border: 1px solid rgba(206, 208, 218, 1);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 60px;
    color: #4F5362;
    cursor: pointer;
}


/*//分页*/

.ta3 {
    width: 1055px;
    height: 70px;
    margin: 0 auto;
    font-size: 14px;
    display: none;
}

.tbpager {
    width: 100%;
    height: 30px;
}

.tbapager {
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}

.pager {
    float: right;
    width: auto;
    height: 30px;
    margin-top: 25px;
    margin-right: 10px;
    /*border: 1px solid red;*/
}

.pagerbu {
    margin-top: 25px;
    float: right;
    width: auto;
    height: 30px;
}

#tiaozhuang {
    width: 25px;
    height: 20px;
    outline: none;
}

.zeng {
    width: auto;
    height: 20px;
}

a {
    color: #3C3D48;
    text-decoration: none;
}


/*a:hover {*/


/*color: #2B4A78;*/


/*text-decoration: underline;*/


/*}*/

a:focus,
input:focus {
    outline-style: none;
    outline-width: medium;
}

#tz {
    width: 25px;
    height: 24px;
    border: none;
    outline: none;
    background-color: rgba(255, 125, 57, 1);
    color: white;
}


/* custom css style: pageNum,cPageNum */

.pageNum {
    padding: 2px 8px;
    display: inline-block;
}

.cPageNum {
    color: rgba(255, 125, 57, 1);
    ;
    padding: 2px 8px;
}

#pageNav {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.taNo {
    width: 100%;
    height: 350px;
    position: relative;
    display: none;
}

.cons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 310px;
    height: 150px;
}

.cons img {
    width: 150px;
    height: 150px;
    float: left;
}

.cons .rights {
    float: left;
    margin-left: 40px;
}

.cons .rights p:nth-child(1) {
    margin-top: 45px;
    color: #4F5362;
    font-size: 20px;
}

.cons .rights p:nth-child(2) {
    margin-top: 20px;
    color: #4F5362;
    font-size: 14px;
}

.cons .rights p:nth-child(2) .goIndex {
    color: #2272C8;
}

.pageJump {
    width: auto;
}

.pageJump input {
    margin: 0 5px;
    width: 32px;
    height: 32px;
    text-align: center;
}

.pageJump .button {
    background-color: rgba(253, 87, 0, 1);
    color: white;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
}


/* 分页新增：不要最左和最右 */


/* .ta3 ul li:first-child,
.ta3 ul li:last-child {
    display: none;
} */


/*<!--活动不存在或者权限不足弹窗-->*/

.meng6 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.popupMsg6 {
    display: none;
    width: 392px;
    height: 348px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1001;
    border-radius: 5px;
}

.popupMsg6 .close6 {
    float: right;
    width: 21px;
    height: 21px;
    margin: 15px;
    cursor: pointer;
}

.popupMsg6 .tips {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 60px;
}

.popupMsg6 p {
    display: block;
    text-align: center;
    width: 316px;
    line-height: 28px;
    color: #A7A7AC;
    margin: 0 auto;
    margin-top: 48px;
}

.popupMsg6 .know6 {
    width: 110px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border: 1px solid rgba(206, 208, 218, 1);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 60px;
    color: #4F5362;
    cursor: pointer;
}