* {
    margin: 0;
    padding: 0;
    outline: none;
}

ul li {
    list-style: none;
}

.complete {
    float: left;
    width: 100%;
    height: auto;
    /*height:1717px;*/
    background: rgba(255, 255, 255, 1);
}

.top2 {
    width: 100%;
    height: 46px;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF6961', endColorstr='#FF8D29', GradientType=0);
    background: -ms-linear-gradient(top, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
    background: -webkit-linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
    background: -moz-linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
    background: -o-linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
    background: linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
}

.top3 {
    width: 1200px;
    height: 46px;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF6961', endColorstr='#FF8D29', GradientType=0);
    background: -ms-linear-gradient(top, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
    background: -webkit-linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
    background: -moz-linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
    background: -o-linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
    background: linear-gradient(78deg, rgba(255, 105, 97, 1) 0%, rgba(255, 141, 41, 1) 100%);
}

.meng {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.guanlian {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -287px;
    margin-top: -300px;
    width: 574px;
    height: 600px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    position: relative;
}

.img {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 19px;
    right: 19px;
}

.bottom {
    width: 574px;
    height: 74px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 6px;
}

.scroll-son {
    overflow-x: hidden;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.tu {
    width: 80px;
    height: 80px;
    background: rgba(249, 249, 250, 1);
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 40px;
}

.tu img {
    width: 100%;
    height: 100%;
}

.gongchang {
    width: 281px;
    height: 30px;
    font-size: 22px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #354052;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 17px;
}

.yan {
    width: 450px;
    height: 70px;
    margin: 0 auto;
}

.yan span {
    width: 36px;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(167, 167, 172, 1);
    line-height: 17px;
}

.yan input {
    width: 433px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 1);
    margin-top: 10px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
    padding-left: 8px;
    outline: none;
}

.yan input:focus {
    border: 1px solid #FD5904;
}

.chang {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 14px;
}

.changspan {
    width: 108px;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(167, 167, 172, 1);
    line-height: 17px;
}

#factoryD:focus {
    border: 1px solid #FD5904;
}

#factoryD {
    width: 433px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 1);
    margin-top: 10px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
    padding-left: 8px;
    line-height: 43px;
}

#factory {
    width: 442px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 1);
    margin-top: 10px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
    padding-left: 8px;
    line-height: 43px;
}

#list {
    width: 442px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 1);
    margin-top: 10px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
    padding-left: 8px;
    line-height: 43px;
}

#band {
    width: 442px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 1);
    margin-top: 10px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
    padding-left: 8px;
    line-height: 43px;
}


/*.changpai span{*/


/*width:108px;*/


/*height:17px;*/


/*font-size:12px;*/


/*font-family:PingFangSC-Regular;*/


/*font-weight:400;*/


/*color:rgba(167,167,172,1);*/


/*line-height:17px;*/


/*}*/


/*.pinPai{*/


/*margin-top: 10px;*/


/*width:442px;*/


/*height:auto;*/


/*background:rgba(255,255,255,1);*/


/*border-radius:4px;*/


/*border:1px solid rgba(229,229,229,1);*/


/*overflow: auto;*/


/*font-size:12px;*/


/*font-family:MicrosoftYaHei;*/


/*color:rgba(153,153,153,1);*/


/*line-height: 43px;*/


/*padding-left:8px;*/


/*}*/


/*.pinPai div{*/


/*float:left;*/


/*width:auto;*/


/*height:25px;*/


/*font-size:13px;*/


/*font-family:PingFang-SC-Medium;*/


/*font-weight:500;*/


/*color:rgba(79,83,98,1);*/


/*line-height:25px;*/


/*margin:6px 10px;*/


/*}*/


/*.pinPai div img{*/


/*float: left;*/


/*width:8px;*/


/*height:8px;*/


/*display: block;*/


/*margin-top: 6px;*/


/*}*/

.pinpai1 {
    float: left;
    width: 450px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    display: none;
}

.pinpai1 li {
    width: 450px;
    height: 33px;
    /*background:rgba(229,229,229,1);*/
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(79, 83, 98, 1);
    line-height: 33px;
    padding-left: 13px;
}

.pinpai1 li:hover {
    cursor: pointer;
    /*background:rgba(229,229,229,1);*/
}

.pinpai2 {
    float: left;
    width: 450px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    display: none;
}

.pinpai2 li {
    width: 450px;
    height: 33px;
    /*background:rgba(229,229,229,1);*/
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(79, 83, 98, 1);
    line-height: 33px;
    padding-left: 13px;
}

.pinpai2 li:hover {
    cursor: pointer;
    /*background:rgba(229,229,229,1);*/
}

.pinpai3 {
    float: left;
    width: 450px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    display: none;
}

.pinpai3 li {
    width: 450px;
    height: 33px;
    /*background:rgba(229,229,229,1);*/
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(79, 83, 98, 1);
    line-height: 33px;
    padding-left: 13px;
}

.pinpai3 li:hover {
    cursor: pointer;
    /*background:rgba(229,229,229,1);*/
}

.active {
    background: rgba(229, 229, 229, 1);
}

.yiyan {
    width: 110px;
    height: 43px;
    border-radius: 4px;
    border: 1px solid rgba(206, 208, 218, 1);
    margin-top: 16px;
    margin-bottom: 15px;
    float: left;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(79, 83, 98, 1);
    text-align: center;
    line-height: 43px;
}

.yiyan:hover {
    cursor: pointer;
}

.qu {
    margin-left: 167px;
    margin-right: 20px;
}

.fo {
    background: rgba(253, 87, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.biank {
    border: 1px solid #FD5904;
}


/* 关联工厂：暂不关联点击弹框 */

.popBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 123;
    display: none;
}

.popBox_content {
    width: 500px;
    height: 300px;
    background: #eee;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.popBox_content h6 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #4F5362;
    margin-top: 100px;
}

.popBox_content p {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 260px;
}

.popBox_content p span {
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    color: #4F5362;
    text-decoration: none;
    cursor: pointer;
}

.popBox_content p span:first-child {
    margin-right: 20px;
}


/* 关联工厂样式补充 */

.select2-selection__clear {
    display: none;
}


/* .select2-container{
    height: 60px;
    overflow: auto;
} */