* {
			margin: 0;
			padding: 0;
		}
		
		body {
			margin: 0;
			padding: 0;
		}
		
		ul li {
			list-style: none;
		}

		.right {

			width: 1055px;
			height: auto;
			overflow: hidden;
			/*border: 1px solid blue;*/
		}
		.tsk{
			width: 316px;
			margin-top:80px;
			margin-left: 250px;
		}
		.tsk1{
			width: 70px;
			height: 70px;
			margin: 0 auto;

		}
		.tsk2{
			margin-top:20px;
			text-align: center;
			font-size:16px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(79,83,98,1);
			line-height:22px;
		}
		.tsk3{
			margin-top:6px;
			text-align: center;
			font-size:14px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(167,167,172,1);
			line-height:28px;
		}
		.tsk4{
			margin: 0 auto;
			margin-top:30px;
			text-align: center;
			width:110px;
			height:43px;
			background:rgba(253,87,0,1);
			border-radius:4px;
			font-size:14px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(255,255,255,1);
			line-height:43px;
		}
		.rdao {
			width: 100%;
			height: auto;
			
		}
		
		.rdao ul li {
			margin-left: 30px;
			float: left;
			width: 56px;
			height: 32px;
		}
		
		.rdao ul li:nth-of-type(1) {
			margin-left: 0px;
		}
		
		.rdao ul li span {
			display: block;
			width: 56px;
			height: 20px;
			font-size: 14px;
			font-family: PingFang-SC-Medium;
			font-weight: 500;
			color: rgba(79, 83, 98, 1);
			line-height: 20px;
		}
		
		.rdao ul li div {
			margin-top: 10px;
			width: 56px;
			height: 2px;
			background: rgba(253, 87, 0, 1);
		}
		
		.mima{
			width: 100%;
			height: auto;
			margin-top:55px;
			
		}
		.mima span{
			width:auto;
			height:17px;
			font-size:12px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(167,167,172,1);
			line-height:17px;
		}
		
		.mima span:nth-of-type(2)
		{
			color:#FD5700;
		}
		.mima input{
			margin-top: 10px;
			width:390px;
			height:43px;
			background:rgba(255,255,255,1);
			border-radius:4px;
			border:1px solid rgba(229,229,229,1);
			
			font-size:14px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(79,83,98,1);
			line-height:43px;
			outline: none;
			padding-left: 10px;
		}
		.mima input:focus{
			border:1px solid rgba(253,87,0,1);
		}
		.xinmima{
			width: 100%;
			height: auto;
			margin-top:25px;
			
		}
		.xinmima span{
			width:auto;
			height:17px;
			font-size:12px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(167,167,172,1);
			line-height:17px;
		}
		
		.xinmima span:nth-of-type(2)
		{
			color:#FD5700;
		}
		.xinmima input{
			margin-top: 10px;
			width:390px;
			height:43px;
			background:rgba(255,255,255,1);
			border-radius:4px;
			border:1px solid rgba(229,229,229,1);
			
			font-size:14px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(79,83,98,1);
			line-height:43px;
			outline: none;
			padding-left: 10px;
		}
		.xinmima input:focus{
			border:1px solid rgba(253,87,0,1);
		}
		
		.quemima{
			width: 100%;
			height: auto;
			margin-top:25px;
			
		}
		.quemima span{
			width:auto;
			height:17px;
			font-size:12px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(167,167,172,1);
			line-height:17px;
		}
		
		.quemima span:nth-of-type(2)
		{
			color:#FD5700;
		}
		.quemima input{
			margin-top: 10px;
			width:390px;
			height:43px;
			background:rgba(255,255,255,1);
			border-radius:4px;
			border:1px solid rgba(229,229,229,1);
			
			font-size:14px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(79,83,98,1);
			line-height:43px;
			outline: none;
			padding-left: 10px;
		}
		.quemima input:focus{
			border:1px solid rgba(253,87,0,1);
		}
		
		.confirm{
			width:110px;
			height:43px;
			background:rgba(253,87,0,1);
			border-radius:4px;
	
			font-size:14px;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(255,255,255,1);
			line-height:43px;
			margin:30px 145px;
			border: none;
			outline: none;
		}
		.confirm:hover
		{
			cursor: pointer;
		}
