* {
    /*margin: 0;*/
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ul {
    list-style: none;
}

#schedule-box {
    width: 355px;
    padding: 35px 20px;
    font-size: 13px;
}

.schedule-hd {
    /*display: flex;*/
    /*justify-content: space-between;*/
    padding: 0 15px;
    text-align: center;
}

.schedule-hd>div:first-child {
    float: left;
}

.schedule-hd>div:last-child {
    float: right;
}

.today {
    display: inline-block;
    line-height: 17px;
}

.ul-box {
    overflow: hidden;
}

.ul-box>li {
    float: left;
    width: 14.28%;
    text-align: center;
    padding: 5px 0;
}

.other-month {
    color: #999999;
}

.current-month {
    color: #333333;
}

.today-style {
    border-radius: 50%;
    background: #58d321;
}

.arrow {
    cursor: pointer;
}

.dayStyle {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.current-month>.dayStyle:hover {
    background: #00BDFF;
    color: #ffffff;
}

.today-flag {
    background: #00C2B1;
    color: #fff;
}

.boxshaw {
    box-shadow: 2px 2px 15px 2px #e3e3e3;
    display: none;
}

.selected-style {
    background: #00BDFF;
    color: #ffffff;
}

.right5 {
    width: 1055px;
    height: auto;
    overflow: hidden;
}

.rdao5 {
    width: 100%;
    height: auto;
}

.rdao5 ul li {
    margin-left: 30px;
    float: left;
    width: 56px;
    height: 32px;
}

.rdao5 ul li:nth-of-type(1) {
    margin-left: 0px;
}

.rdao5 ul li span {
    display: block;
    width: 56px;
    height: 20px;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(79, 83, 98, 1);
    line-height: 20px;
}

.rdao5 ul li div {
    margin-top: 10px;
    width: 56px;
    height: 2px;
    background: rgba(253, 87, 0, 1);
}

.xin5 {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.xin5 span {
    display: block;
    width: auto;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(167, 167, 172, 1);
    line-height: 17px;
}

.xin5 input {
    margin-top: 10px;
    width: 400px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 1);
    padding-left: 10px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(79, 83, 98, 1);
    outline: none;
}

.xin5 input:focus {
    border: 1px solid #FD5700;
}

.bei5 {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.xinbie5 {
    display: block;
    width: auto;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(167, 167, 172, 1);
    line-height: 17px;
}

.kuai5 {
    width: auto;
    height: 30px;
    margin-top: 18px;
}

.kuai5 span {
    float: left;
    width: 13px;
    height: 28px;
    margin-left: 10px;
    line-height: 28px;
}

.dian5 {
    float: left;
    width: 14px;
    height: 14px;
}

.dian5:nth-of-type(1) {
    margin-left: 5px;
    margin-top: 7px;
}

.dian5:nth-of-type(2) {
    margin-left: 45px;
    margin-top: 7px;
}

.dian5:hover {
    cursor: pointer;
}

.huay5 {
    background: url(../img/lhpimg/fenzu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.huaw5 {
    background-image: url(../img/lhpimg/Radiobutton.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.chushen5 {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.chushen5 span {
    display: block;
    width: auto;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(167, 167, 172, 1);
    line-height: 17px;
}

.riqi5 {
    margin-top: 10px;
    width: 400px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 1);
}

.riqi5 input {
    float: left;
    width: 340px;
    height: 43px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.25);
    padding-left: 10px;
}

.riqi5 img {
    float: left;
    width: 14px;
    height: 14px;
    margin: 14px;
    cursor: pointer;
}

.hao5 {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.hao5 span {
    display: block;
    width: auto;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(167, 167, 172, 1);
    line-height: 17px;
}

.selected-style {
    background-color: #C5C5C5;
}

.current-month>.dayStyle:hover {
    background-color: #C5C5C5;
}

.today-flag {
    background-color: #e9e9e9;
}

.hao5 #hao {
    display: inline-block;
    margin-top: 10px;
    width: 390px;
    height: 43px;
    line-height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border:1px solid rgba(229,229,229,1);
    padding-left: 10px;
    outline: none;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(253, 87, 0, 1);
}

.hao5 input:focus {
    border: 1px solid #FD5700;
}

.chen5 {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.chen5 span {
    display: block;
    width: auto;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(167, 167, 172, 1);
    line-height: 17px;
}

.chen5 select::-ms-expand {
    display: none;
}

.chen5 select {
    margin-top: 10px;
    margin-right: 11px;
    width: 126px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    appearance: none;
    /* 去掉默认图标 */
    /* -ms-animation: none; */
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 15px 0 5px;
    background: url(../img/lhpimg/5.png) no-repeat scroll 100px center transparent;
    /* 自己的图*/
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
    outline: none;
    cursor: pointer;
}

.select2 {
    margin-top: 10px;
    margin-right: 11px;
    width: 126px;
    height: 43px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(153, 153, 153, 1);
}

.dizhi5 {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.dizhi5 span {
    display: block;
    width: auto;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(167, 167, 172, 1);
    line-height: 17px;
}

.dizhi5 input {
    margin-top: 10px;
    width: 390px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 1);
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.25);
    line-height: 43px;
}

.dizhi5 input:focus {
    border: 1px solid #FD5700;
}

.bao5 {
    width: 110px;
    height: 43px;
    background: rgba(253, 87, 0, 1);
    border-radius: 4px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 43px;
    margin: 30px 145px;
    border: none;
    outline: none;
}

.bao5:hover {
    cursor: pointer;
}

.color5 {
    border: 1px solid #FD5700;
}


/*吐司*/

.tishi2 {
    display: none;
    width: 140px;
    height: 60px;
    line-height: 60px;
    background: #62B951;
    border-radius: 6px;
    opacity: 0.4;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.tishi3 {
    display: none;
    width: 140px;
    height: 60px;
    line-height: 60px;
    background: rgba(0, 0, 0, 1);
    border-radius: 6px;
    opacity: 0.4;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}