* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.top {
	width: 100%;
	height: 39px;
	background: rgba(245, 245, 245, 1);
	
}

.con {
	width: 1200px;
	height: 39px;
	margin: 0 auto;
	background: rgba(245, 245, 245, 1);
	 
}

.con_a {
	float: left;
	height: 39px;
}
.con_aa{
	display: none;
	float: left;
	height: 39px;
}

.sj {
	position: relative;
	top: -38px;
	left: 200px;
	width: 30px;
	height: 35px;
}
.yhaa{
	position: relative;top: -28px;left: 230px;
}
#yht{
	display: none;
}
.sj img {
	width: 30px;
	height: 35px;
}

.xk_tou {
	width: 70px;
	height: 70px;
	padding: 20px 20px;
	float: left;
}

.xk_tou img {
	width: 100%;
	height: 100%;
}

.xk_phone {
	float: left;
}

.xk p:nth-of-type(1) {
	font-size: 14px;
	font-family: PingFang-SC-Medium;
	font-weight: 500;
	color: rgba(79, 83, 98, 1);
	line-height: 20px;
	margin-top: 30px;
}

.xk p:nth-of-type(2) {
	font-size: 14px;
	font-family: PingFang-SC-Medium;
	font-weight: 500;
	color: rgba(34, 114, 200, 1);
	line-height: 20px;
	margin-top: -15px;
}

.xk {
	position: relative;
	top: -50px;
	width: 314px;
	height: 116px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
}

.con_a p {
	font-size: 12px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(79, 83, 98, 1);
	line-height: 17px;
	padding: 9px 0;
	cursor: pointer;
}
.con_aa p{
	font-size: 12px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(79, 83, 98, 1);
	line-height: 17px;
	padding: 9px 0;
	cursor: pointer;
}
.yxi {
	display: none;
	position: absolute;
	top: 54px;
	z-index: 9999;
	}

 

.con_b {
	float: right;
	width: 600px;
	height: 39px;
	
}
.con_bul {

}
.con_b .con_bul li {
	float: right;
	margin-left: 34px;
	position: relative;
	cursor: pointer;
}
.con_bbul li{
	display: none;
	float: right;
	margin-left: 16px;
	position: relative;
	cursor: pointer;
}
.con_bbul li:nth-of-type(2) p{
	padding: 9px 0;
	font-size:12px;
font-family:PingFangSC-Regular;
font-weight:400;
color:rgba(253,87,0,1);
line-height:17px;
}
.con_bbul li:nth-of-type(1) p{
	padding: 9px 0;
font-size:12px;
font-family:PingFangSC-Regular;
font-weight:400;
color:rgba(79,83,98,1);
line-height:17px;
}
.con_b .con_bul li p {
	float: left;
	padding: 9px 0;
	font-size: 12px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(79, 83, 98, 1);
	line-height: 17px;
}

.con_b .con_bul li img {
	float: left;
	width: 13px;
	height: 13px;
	padding: 11px 0;
	margin-right: 3px;
}

.cart_xi {
	width: 342px;
	height: 447px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
	position: relative;
	top: 39px;
	left: 50px;
	display: none;
	z-index: 9999;
	 
}

.cart_title {
	font-size: 14px;
	font-family: PingFang-SC-Bold;
	font-weight: bold;
	color: rgba(79, 83, 98, 1);
	line-height: 20px;
	 
	margin-top: -15px;
	padding-left: 16px;
}

.xian {
	width: 312px;
	height: 1px;
	background: #E5E5E5;
	position: absolute;
	top: 45px;
	left: 16px;
}

.cart_ul {
	width: 322px;
	height: 320px;
	position: absolute;
	left: 18px;
	top: 60px;
	overflow: auto;
	 
}

.cart_ul::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 1px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

/*.cart_ul::-webkit-scrollbar-thumb {
	滚动条里面小方块
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
}

.cart_ul::-webkit-scrollbar-track {
	滚动条里面轨道
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: rgba(0, 0, 0, 0.1);
}*/

.cart_ul li {
	width: 322px;
	height: 70px;
	margin-bottom: 20px;
}

.cart_img {
	width: 60px;
	height: 70px;
	float: left;
}

.cart_img img {
	width: 60px;
	height: 60px;
}

.cart_zi {
	float: left;
	width: 240px;
	height: 70px;
	margin-left: 12px;
	position: relative;

}

.cart_zip {
	width: 200px;
	font-size: 13px;
	font-family: PingFang-SC-Bold;
	font-weight: bold;
	color: rgba(79, 83, 98, 1);
	line-height: 18px;
}

.delete {
	margin-left: 24px;
	 position: absolute;
	 top: 0px;
	 right: 16px;
}

.cart_money {
	text-align: right;
	font-size: 13px;
	font-family: PingFang-SC-Bold;
	font-weight: bold;
	color: rgba(79, 83, 98, 1);
	line-height: 18px;
	position: absolute;
	right: 16px;
	 top: 40px;
}

.xiantwo {
	width: 312px;
	height: 1px;
	background: #E5E5E5;
	position: absolute;
	bottom: 50px;
	left: 16px;
}

.cart_mq {
	position: absolute;
	bottom: 15px;
	left: 16px;
}

.cart_shu span {
	font-size: 13px;
	font-family: PingFang-SC-Bold;
	font-weight: bold;
	color: rgba(79, 83, 98, 1);
	line-height: 18px;
	margin-right: 16px;
}

.cart_shu {
	float: left;
	margin-top: 20px;
}

.gocart {
	float: right;
	width: 90px;
	height: 34px;
	background: rgba(253, 87, 0, 1);
	border-radius: 4px;
	position: relative;
	bottom: -15px;
	right: -30px;
}

.gocart_p {
	font-size:14px;
font-family:PingFang-SC-Bold;
font-weight:bold;
color:rgba(255,255,255,1);
line-height:20px;
text-align: center;
padding: 7px 0;
}
.cart_sj{
	position: relative;
	left: 310px;
	top: -20px;
}
.cart_sj img{
	width: 30px;
	height: 30px;
}

.info_xi {
	width: 314px;
	height: 171px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
	position: relative;
	top: 39px;
	left: 185px;
	display: none;
	z-index: 9999;

	 
}
.inx{
	position: absolute;
	top: 16px;
	right: 16px;
}
.info_fuimg{
	float: right;
	padding-right: 16px;
	padding-top: 5px;
}
.gen_b{
	display: none;
}
.gen:hover .gen_b{
	display: block;
	cursor: pointer;
}

.gen:hover .gen_a{
	display: none;
	cursor: pointer;
}
.info_title {
	font-size: 14px;
	font-family: PingFang-SC-Bold;
	font-weight: bold;
	color: rgba(79, 83, 98, 1);
	line-height: 20px;
	 
	margin-top: -15px;
	padding-left: 16px;
}

.info_xian {
	width: 282px;
	height: 1px;
	background: #E5E5E5;
	position: absolute;
	top: 45px;
	left: 16px;
}

.info_ul {
	width: 312px;
	height: 320px;
	/*position: absolute;*/
	/*left: 18px;*/
	/*top: 60px;*/
	overflow: auto;
	 
}
.info_sj{
	position: relative;
	left: 280px;
	top: -20px;
	width: 30px;
	height: 30px;
}
.info_sj img{
	width: 30px;
	height: 30px;
}
.info_fu{
	width: 298px;
	
	overflow: auto;
	margin-top: 17px;
	padding-left: 16px;
}
.info_fu span{
	font-size:13px;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(79,83,98,1);
line-height:18px;
}
.info_ul{
	 
	 
	 
	 
	margin-top: 20px;
}
.info_ul li{
	margin-left: 0;
	width: 56px;
	height: 58px;
	margin-right: 10px;
	float: left;
	margin-right: 16px;
	 
	
	
}
.info_ul li img{
	width: 100%;
	height: 100%;
}


.info_xione {
	z-index: 9999;
	width: 314px;
	height: 440px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
	position: relative;
	top: -133px;
	left: -200px;
	display: none;
	 
	 
}

.info_title {
	font-size: 14px;
	font-family: PingFang-SC-Bold;
	font-weight: bold;
	color: rgba(79, 83, 98, 1);
	line-height: 20px;
	 
	margin-top: -15px;
	padding-left: 16px;
}

.info_xian {
	width: 282px;
	height: 1px;
	background: #E5E5E5;
	position: absolute;
	top: 45px;
	left: 16px;
}

.info_xiulone {
	width: 312px;
	height: 380px;
	 
	overflow: auto;
	margin-top: 17px;
	 
}
.info_sjone{
	position: relative;
	left: 280px;
	top: -20px;
	width: 30px;
	height: 30px;
}
.info_sjone img{
	width: 30px;
	height: 30px;
}

.info_xiulone li{
	width: 310px;
	height: 111px;
	border-left: 4px solid #FFFFFF;
}
.info_xiulone li:hover{
	background:rgba(244,246,249,1);
	border-left: 4px solid #FF7F3E;
}
.info_litop{
	width: 284px;
	padding-left: 16px;
	padding-top: 10px;
	 
}
 
.info_litop span{
	font-size:13px;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(79,83,98,1);
line-height:18px;
}
.info_litop img{
	float: right;
	margin-right: 16px;
	padding: 2px 0;
}
.info_lileft
{
	float: left;
	width: 56px;
	height: 58px;
	margin-left: 16px;
	margin-top: 10px;
}
.info_liright{
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}
.info_liright p:nth-of-type(1)
{
	font-size:13px;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(167,167,172,1);
line-height:18px;
}
.info_liright p:nth-of-type(2)
{
	font-size:13px;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(167,167,172,1);
line-height:18px;
margin-top: 1px;
}
.info_liright p:nth-of-type(3)
{
	margin-top: 3px;
	font-size:13px;
font-family:PingFang-SC-Medium;
font-weight:500;
color:rgba(79,83,98,1);
line-height:18px;
}
.info_liright p:nth-of-type(3):hover{
	color:#FD5700;
	cursor: pointer;
	 
 
 
}

.info_xiulone::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 1px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}
#xt{
	display: none;
}
#xo{
	display: none;
}
