html,body{
	background: #eeeeee;
}
unslider-dots.indexInfo {
	width: 100%;
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	background: #eeeeee;
}
.indexInfo form {
	width: 100%;
	height: 1.5rem;
	background:#C7021D;
}
.indexInfo .search {
	width: 4.61rem;
	height: 0.6rem;
	/* background: url(../img/search.png) no-repeat; */
	background-size: 100%;
	margin-left: 1.45rem;
	border:1px solid #fff;
	border-radius:50px;
	background:#fff;
	margin-top:0.45rem;
}
.indexInfo form img{
	width: 0.6rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.indexInfo .search input {
	height: 0.3rem;
	line-height: 0.3rem;
	background: none;
	color: #000;
	width: 90%;
	text-indent: 0.86rem;
	margin-top: 0.14rem;
	font-size: 0.26rem;
}

.indexInfo form input:-ms-input-placeholder {
	color: #000;
	opacity:0.6;
}

.indexInfo form input::-webkit-input-placeholder {
	color: #000;
	opacity:0.6;
}

.indexInfo form input:-moz-placeholder {
	color: #000;
	opacity:0.6;
}

.indexInfo form input::-moz-placeholder {
	color: #000;
	opacity:0.6;
}
/*banner��ʽ*/


/*��������ʽ*/

.carousel {
	position: relative;
	margin: 0 auto;
}


/*��Ԫ����ʽ*/


/*.slider-main-img img{*/


/*/!*�ֶ��趨ͼƬ�Ŀ�߶�*!/*/


/*}*/

.slider-main-img {
	position: absolute;
	top: 0;
	left: 0;
}

.slider-ctrl {
	position: absolute;
	bottom: 0.05rem;
	/*ԲȦλ��*/
	left: 50%;
	transform: translate(-50%);
}

.slider-ctrl-con {
	display: inline-block;
	width: 0.2rem;
	/*ԲȦ��С*/
	height: 0.2rem;
	border-radius: 50%;
	background-color: #878888;
	/*ԲȦ��ʼ��ɫ*/
	margin-right: 0.1rem;
	/*ԲȦ���*/
	cursor: pointer;
	/*ԲȦ����*/
}

.slider-ctrl .slider-ctrl-con-active {
	background-color: #3cc6d0;
	/*ԲȦ�����ɫ*/
}
.chooseJobe{
	width:100%;
	height:auto;
	margin:0.24rem auto;
}
.chooseJobe ul{
	margin:0;
	padding:0;
	list-style:none;
}
.chooseJobe ul li{
	width:1.65rem;
	height:1.65rem;
	background:#fff;
	float:left;
	margin-right:0.192rem;
	text-align:center;
	border-radius:0.15rem;
}
.chooseJobe ul li img{
	width:0.85rem;
	height:0.85rem;
	float:left;
	margin:0.2rem 0.4rem 0.1rem;
}
.chooseJobe ul li span{
	color:#000;
	opacity:0.7;
	font-size:0.26rem;
}
.news{
	width:7.2rem;
	height:1.25rem;
	margin:0.3rem auto;
	margin-left:0.14rem;
	background:#fff;
}
.news-1{
	width:1.27rem;
	height:100%;
}
.news-2{
	width:1.88rem;
	height:100%;
}
.news-3{
	width:3.1rem;
	height:100%;
	overflow:hidden;
}
.news-4{
	width:0.95rem;
	height:100%;
}
.more{
	width:0.7rem;
	height:0.4rem;
	background:url(../img/icon-more.png) no-repeat;
	margin-top:0.425rem;
}
.indexList{
	width:7.2rem;
	float:left;
	margin-left:0.14rem;
}
.indexList-title{
	width:100%;
	margin:0.23rem auto;
	text-align: center;
}
.indexList-title img{
	width:3.13rem;
	height:0.486rem;
	margin-left:2rem;
}
.list{
	width:100%;
	height:auto;
	overflow:hidden;
	float:left;
	margin-bottom:1rem;
}
.listUl{
	margin:0;
	padding:0;
	list-style:none;
}
.listUl li{
	width:3.4rem;
	height:4.09rem;
	background:#fff;
	border-radius:10px;
	float:left;
	margin-left:0.1rem;
	margin-right:0.1rem;
	margin-bottom:0.24rem;
}
.list-info{
	width:2.98rem;
	height:100%;
	margin:0 auto;
}
.list-info-img{
	width:100%;
	height:2.3rem;
	border-bottom:3px dashed #D3D3D3;
}
.list-info-img img{
	height:2.2rem;
	width:2.98rem;
}
.list-info-title{
	width:100%;
	height:auto;
}
.list-info-title p{
	padding:0;
	margin:0.1rem auto;
	font-size:0.24rem;
	color:#000;
	opacity:0.7;
}
.list-info-peole{
	width:100%;
	height:0.4rem;
	font-size:0.2rem;
	color:#000;
	opacity:0.7;
}
.list-info-peole img{
	width:0.15rem;
	height:0.15rem;
	float:left;
	margin-top:0.1rem;
}
.list-info-price{
	width:100%;
}
.list-info-price p{
	margin:0;
	padding:0;
}
.list-price{
	color:#FFDCC0;
	font-size:0.24rem;
}
.list-price label{
	color:#FF9030;
	font-size:0.41rem;
	margin-left:0.11rem;
}
.list-price-img{
	width:0.3rem;
	height:0.3rem;
	float:left;
	margin-top:0.15rem;
	margin-right:0.11rem;
}
.list-integral{
	float:right;
	line-height:0.6rem;
}
.integral{
	color:#B3B3B3;
	font-size:0.24rem;
}
.recommend{
	width:7.01rem;
	height:auto;
	margin:0 auto 0.54rem;
}
.recommend ul{
	margin:0;
	padding:0;
	list-style:none;
}
.recommend ul li{
	width:100%;
	height:1.9rem;
	background:#fff;
	border-radius:10px;
	margin:0.24rem auto 0;
}
.recommend-1{
	width:1.88rem;
	height:100%;
	float:left;
}
.recommend-2{
	width:5.11rem;
	height:1.42rem;
	float:left;
	margin:0.24rem auto;
	border-left:0.01rem dashed #d3d3d3;
}
.recommend-1 img{
	width:1.5rem;
	height:1.5rem;
	margin:0.2rem auto;
}
.recommend-2 p{
	margin:0.1rem auto;
	font-size:0.24rem;
	color:#000;
	opacity:0.7;
	text-indent:0.27rem;
}
.recommend-2-2 img{
	width:0.15rem;
	height:0.15rem;
	float:left;
	margin-top:0.085rem;
	margin-left:0.27rem;
}
.join-in{
	width:7.01rem;
	height:3.45rem;
	background:#fff;
	border-radius:0.15rem;
	margin:0 auto 0.24rem;
}
.join-in-1{
	width:100%;
	height:2.39rem;
	float:left;
}
.join-in-2{
	width:100%;
	height:1.05rem;
	float:left;
}
.join-in-2-p1{
	font-size:0.3rem;
	color:#000;
	opacity:0.7;
	text-indent:0.24rem;
}
.join-in-2-p2{
	font-size:0.24rem;
	color:#000;
	opacity:0.6;
	text-indent:0.24rem;
}
.default-slider{
	max-height: 200px;
}