.orderInfo {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #eeeeee;
}
.orderTitle{
	width:100%;
	height:0.9rem;
	background:#CB091E;
	overflow:hidden;
	color:#fff;
	line-height:0.9rem;
	font-size:0.3rem;
}
.orderTitle span{
	margin-left:2.5rem;
}
.agentInfo{
	width:7.01rem;
	height:3.3rem;
	margin:0.24rem auto;
	background:#fff;
	border-radius:0.15rem;
}
.agentInfo p{
	text-indent:0.24rem;
	color:#000;
	opacity:0.7;
}
.agentInfo-p1{
	font-size:0.36rem;
	padding-top:0.24rem;
	padding-bottom:0.36rem;
}
.agentInfo-p2{
	font-size:0.24rem;
	padding-bottom:0.24rem;
}
.agentInfo-span1{
	float:right;
	padding-right:0.24rem;
}
.agentInfo-span2{
	float:right;
	padding-right:0.24rem;
	color:#FC0741;
}
.address{
	width:7.03rem;
	height:1.75rem;
	background:#fff;
	border-radius:0.1rem;
	margin:0.24rem auto;
}
.address P{
	height:0.583rem;
	line-height:0.583rem;
}
.address img{
	width:0.4rem;
	height:0.4rem;
	padding:0.09rem 0.22rem;
	float:left;
}
.address span{
	font-size:0.24rem;
	color:#000;
	opacity:0.6;
}
.pay{
	width:7.03rem;
	height:2.32rem;
	margin:0.45rem auto 4rem;
}
.payDiv{
	float:left;
	width:50%;
	height:100%;
}
.payDiv input{
	float:left;
	margin:1.05rem 0.3rem;
}
.payDiv-kuang{
	width:2.05rem;
	height:1.64rem;
	background:#fff;
	border-radius:0.15rem;
	margin:0.34rem 0.24rem;
	float:left;
}
.payDiv-kuang img{
	width:0.72rem;
	height:0.72rem;
	margin:0.3rem auto 0;
}
.payDiv-kuang p{
	text-align:center;
	color:#737373;
	font-size:0.3rem;
	line-height:0.6rem;
}
.mb{
	margin-bottom:0.18rem;
}
.buy{
	width:100%;
	height:1rem;
	background:#fff;
	position:fixed;
	bottom:0;
}
.buy img{
	width:1.88rem;
	height:0.87rem;
	float:right;
	margin:0.05rem 0.1rem 0 0;
}
.total{
	height:0.86rem;
	margin-bottom:1rem;
}
.totalText{
	text-indent:0.35rem;
	color:#767676;
	float:left;
	padding-top:0.45rem;
	font-size:0.24rem;
}
.totalSpan{
	font-size:0.4rem;
	color:#838383;
	float:right;
	margin-right:0.24rem;
}
.totalSpan label{
	font-size:0.7rem;
	color:#FA264F;
	margin-left:0.16rem;
}
.nullAddress{
	width:100%;
}
.nullAddress img{
	width:4.39rem;
	margin:0.5rem auto 0.32rem;
}
.nullAddress p{
	text-align:center;
	color:#838383;
	font-size:0.24rem;
}
.add img{
	width:1.65rem;
	height:0.75rem;
}
.order{
	width:7.03rem;
	height:auto;
	margin:0 auto;
}
.order-1{
	width:100%;
	line-height:0.8rem;
	margin-top:0.25rem;
}
.order-1 img{
	width:0.15rem;
	height:0.15rem;
	float:left;
	margin-top:0.325rem;
	margin-right:0.22rem;
}
.order-1 span{
	font-size:0.30rem;
	color:#6C6C6C;
}
.order-2{
	width:100%;
	height:2.29rem;
	background:#fff;
	border-radius:0.1rem;
	margin-bottom:0.5rem;
}
.order-2-img{
	width:1.65rem;
	height:100%;
	float:left;
}
.order-2-img img{
	width:1.2rem;
	height:1.6rem;
	margin:0.345rem auto;
}
.order-2-info{
	width:5.37rem;
	height:1.81rem;
	float:left;
	margin:0.24rem auto;
}
.order-2-info1{
	font-size:0.26rem;
	color:#000;
	opacity:0.7;
}
.order-2-info2 img{
	width:0.15rem;
	height:0.15rem;
	float:left;
	margin-top:0.06rem;
	margin-right:0.22rem;
}
.order-2-info2 span{
	font-size:0.24rem;
	color:#000;
	opacity:0.7;
}
.order-2-info3 span{
	font-size:0.24rem;
	color:#000;
	opacity:0.6;
	float:right;
	margin-top:0.25rem;
}
.order-2-info3 label{
	float:right;
	font-size:0.5rem;
	color:#FA264F;
	margin-left:0.2rem;
	margin-right:0.2rem;
}