<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>直链商城</title>
</head>
<link rel="stylesheet" href="../../shopping/css/Associated_factory1.css" />
<link rel="stylesheet" href="../../shopping/select2/select2.min.css" />

<body>
    <div class="complete">
        <!--top-->
        <!--渐变-->
        <div class="top2">
            <div class="top3" id="top3"></div>
        </div>
    </div>
    <!--蒙版-->
    <div class="meng" id="meng">
        <div class="guanlian">
            <img src="../../shopping/img/lhpimg/guanbi.png" class="img" />

            <!--内容-->
            <div style="height: 526px;  width: 510px;  margin-left: 30px;" class="scroll">
                <div style="height:100%; width: 530px;" class="scroll-son">
                    <div class="tu"><img src="../../shopping/img/lhpimg/pic_goods1.png" /></div>
                    <div class="gongchang">关联工厂</div>
                    <div class="yan">
                        <span>关联码</span>
                        <input type="text" placeholder="请输入关联码" id="vcode" />
                    </div>
                    <div class="chang">
                        <span class="changspan">想要关联的工厂名称</span>
                        <input type="text" placeholder="请输入工厂名称" id="factoryD"/>
                        <!--<select id="factory"></select>-->
                    </div>
                    <div class="chang">
                        <span class="changspan">想要关联的品牌</span>
                        <!--<ul class="pinpai2" id="band">
                        <li class="1">品牌1</li>
                        <li class="2">品牌1</li>
                        <li class="3">品牌1</li>
                        <li class="4">品牌1</li>
                    </ul>-->
                        <select id="band" multiple class="select2-container"></select>
                    </div>
                    <div class="chang">
                        <span class="changspan">想要关联的系列</span>
                        <!--<input type="text" placeholder="请选择想要关联的系列"/>-->
                        <select id="list" multiple></select>
                    </div>
                </div>
            </div>
            <!--确定-->
            <div class="bottom">
                <div id="qu" class="yiyan qu fo">提交申请</div>
                <div id="fo" class="yiyan">暂不关联</div>
            </div>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class='popBox'>
        <div class='popBox_content'>
            <h6>暂时不关联？</h6>
            <p>
                <span class="close2">是</span>
                <span class="close2">继续关联</span>
            </p>

        </div>

    </div>
</body>
<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="../../shopping/js/Associated_factory1.js"></script>
<script type="text/javascript" src="../../shopping/js/Placeholder.js"></script>
<script type="text/javascript" src="../../shopping/select2/select2.min.js"></script>
<script type="text/javascript" src="../../shopping/select2/i18n/zh-CN.js"></script>
<script type="text/javascript" src="../../shopping/js/jinzi.js"></script>

</html>