<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/Associated_factory2.css" />
	
	<body>
		<div class="complete">
			<!--top-->
			<!--渐变-->
			<div class="top2">
				<div class="top3" id="top3"></div>
			</div>
		</div>
		<!--蒙版-->
		<div class="meng" id="meng">
			<div class="guanlian">
				<div class="top"><img src="../../shopping/img/lhpimg/guanbi.png" class="img"/></div>
				<div class="tu"></div>
				<div class="ren" >您还没有进行身份验证，是否去认证？</div>
				<div id="qu" class="yiyan qu">先逛逛</div>
				<div id="fo" class="yiyan bian">去认证</div>
			</div>	
		</div>
		
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/Associated_factory2.js" ></script>
	<script type="text/javascript" src="../../shopping/js/jinzi.js" ></script>
</html>