<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>直链商城</title>
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
</head>
<link rel="stylesheet" href="../../shopping/css/Change_Password1.css" />

<body>
    <!--右-->
    <div class="right">
        <!--内容右边头部导航-->
        <div class="tsk" style="display: none;">
            <div class="tsk1"><img src="../../shopping/img/lhpimg/Fill_2.png" /></div>
            <div class="tsk2">修改成功</div>
            <div class="tsk3">新密码修改成功，请牢记密码</div>
            <div class="tsk4">去逛逛</div>
        </div>

        <div class="rdao">
            <ul>
                <li>
                    <span id="span">修改密码</span>
                    <div></div>
                </li>
            </ul>
        </div>

        <div class="mima">
            <span>当前密码</span><span>&nbsp;*</span><br/>
            <input type="text" id="jpad" placeholder="请输入密码" name='a' readonly onfocus="this.removeAttribute('readonly');">
            <div class="mmx" style="color: red"></div>
        </div>

        <div class="xinmima">
            <span>新密码</span><span>&nbsp;*</span><br/>
            <input type="text" id="npad" value="" name='b' placeholder="请输入密码" readonly onfocus="this.removeAttribute('readonly');" autocomplete="new-password">
            <p id="as" style="color:red"></p>
            <div class="xmmx" style="color: red"></div>
        </div>

        <div class="quemima">
            <span>确认密码</span><span>&nbsp;*</span><br/>
            <input type="text" id="pad" value="" name='c' placeholder="请输入密码" readonly onfocus="this.removeAttribute('readonly');" autocomplete="new-password">
            <div class="qmx" style="color: red"></div>
        </div>

        <input class="confirm" type="button" value="保存" />

    </div>

</body>
<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="../../shopping/js/Change_Password1.js"></script>
<script>
    $("#jpad").bind("input propertychange", function() {
        $(".mmx").html("");
    })
    $("#npad").bind("input propertychange", function() {
        $(".xmmx").html("");
    })
    $("#pad").bind("input propertychange", function() {
        $(".qmx").html("");
    })
    $(".tsk4").click(function() {
        $(".tsk").hide();
        $(".rdao").show();
        $(".mima").show();
        $(".xinmima").show();
        $(".quemima").show();
        $(".confirm").show();
        window.location.href = "index.html";
    });



    // changePassword($('#npad'));
    // changePassword($('#jpad'));
    // changePassword($('#pad'));

    // input[type='text']模拟input[type='password']
    function changePassword(option) {
        var leng = option.val() == '' ? 0 : option.val().length;
        if (!option.attr('myval')) {
            option.attr('myval', '');
        }
        option.on('input', function() {
            // 设置自定义属性：myval
            var nleng = $(this).val() == '' ? 0 : $(this).val().length;
            if (leng < nleng) {
                var oldstr = $(this).attr('myval');
                var newstr = oldstr + $(this).val().substring(nleng - 1, nleng);
            } else {
                var oldstr = $(this).attr('myval');
                var newstr = $(this).attr('myval').substring(0, leng - 1)
            }
            var str = '';
            for (var i = 0; i < nleng; i++) {
                str += '*';
            }
            option.val(str);

            option.attr('myval', newstr);
            leng = nleng;
        })
    }
</script>
<!--<script type="text/javascript" src="../../shopping/js/jinzi.js" ></script>-->

</html>