<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <title>直链商城</title>
</head>
<link rel="stylesheet" href="../../shopping/css/header.css" />

<body>
    <div class="top">
        <div class="con">
            <div class="con_a">
                <div id="yh">
                    <!--挖坑-->
                </div>
                <div class="yxi">
                    <div class="sj">
                        <img src="../../shopping/img/head/j.png" />
                    </div>
                    <div class="xk">
                        <div class="xk_tou">
                            <!--挖走-->

                        </div>
                        <div class="xk_phone">
                            <!--挖走-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="con_aa">
                <p id="goHome">您好，欢迎光临直链网商城</p>
            </div>
            <div class="con_b">
                <ul class="con_bul">
                    <li><img src="../../shopping/img/head/tx.png" />
                        <p id="goPerson">用户中心</p>
                    </li>
                    <li id="ino"><img src="../../shopping/img/head/lin.png" />
                        <p>消息</p>
                        <p class="sl" style="color: #FD5700;" id="ss1"></p><img id="so" src="../../shopping/img/head/User.png" />
                        <img id="xo" src="../../shopping/img/head/User (1).png" />
                        <!--下边hover内容-->
                        <div class="info_xi">
                            <div class="info_sj">
                                <img src="../../shopping/img/head/j.png" />
                            </div>
                            <p class="info_title">未读新信息</p>
                            <img src="../../shopping/img/head/File add.png" class="inx" />
                            <div class="info_xian"></div>
                            <!--<div class="info_fu">-->
                            <!--<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>-->
                            <!--<img class="info_fuimg" src="../../shopping/img/head/File add (1).png" />-->
                            <!--</div>-->
                            <ul class="info_ul" id="info_ul">
                                <!--<span>商城系统提示您，您购买的商品已经发货您购买的商品已经发货商城系统提示您，您购买的</span>-->
                                <!--<span>商城系统提示您，您购买的商品已经发货</span>-->
                                <!--<span>商城系统提示您，您购买的商品已经发货</span>-->
                                <!--<span>商城系统提示您，您购买的商品已经发货</span>-->
                                <!--<span>商城系统提示您，您购买的商品已经发货</span>-->
                                <!--<span>商城系统提示您，您购买的商品已经发货</span>-->
                                <!--<li class="gen">-->
                                <!--<img class="gen_a"  src="../../shopping/img/head/a5 copy 3.png" style="width: 56px;	height: 58px;"/>-->
                                <!--<img class="gen_b" id="gen_b" src="../../shopping/img/head/acopy 3 (1).png" style="width: 56px;	height: 58px;"/>-->
                                <!--</li>-->

                            </ul>
                            <div class="in_xian" style="margin-left: 20px; width: 282px;height: 2px; background: #E5E5E5;"></div>
                            <div style="position: absolute;right: 40px;top: 10px;"><a class="rightbu" href="xiaoxi.html">查看全部</a></div>

                        </div>
                    </li>
                    <li id="cat"><img src="../../shopping/img/head/sou.png" />
                        <p id="caigo">我的购物车</p>
                        <p class="sl" style="color: #FD5700;" id="cont"></p><img id="st" src="../../shopping/img/head/User.png" />
                        <img id="xt" src="../../shopping/img/head/User (1).png" />
                        <!--下边hover内容-->
                        <div class="cart_xi">
                            <div class="cart_sj">
                                <img src="../../shopping/img/head/j.png" />
                            </div>
                            <p class="cart_title">最近加入的宝贝</p>
                            <div class="xian"></div>
                            <div class="cart_gun">
                                <div class="cart_guna">
                                    <ul class="cart_ul" id="cart_ul">
                                        <!--<li>

                                          <div class="cart_img">
                                              <img src="../../shopping/img/index/Bitmap.png" style="width: 60px;height: 60px;"/>
                                          </div>
                                          <div class="cart_zi">
                                              <p class="cart_zip">手电转家用充电式电动螺丝刀手枪电钻迷你工具2V…</p>
                                              <img class="delete" src="../../shopping/img/head/File add (2).png" />
                                              <p class="cart_money">¥200.00</p>
                                          </div>


                                      </li>-->

                                    </ul>
                                </div>
                            </div>
                            <div class="xiantwo"></div>
                            <div class="cart_mq">
                                <div class="cart_shu" id="cart_shu">

                                </div>
                                <div class="gocart" id="gocart">
                                    去购物车
                                    <!--<p class="gocart_p">去购物车</p>-->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="con_bbul">

                    <li id="free_register">
                        <p><a class="colorA">免费注册</a></p>
                    </li>
                    <!--<li id="free_register"><p>免费注册</p></li>-->
                    <li id="load_self">
                        <p>亲,请登录</p>
                    </li>
                </ul>

                <!--<div class="cart_xi">-->
                    <!--<div class="cart_sj">-->
                        <!--<img src="../../shopping/img/head/j.png" />-->
                    <!--</div>-->
                    <!--<p class="cart_title">最近加入的宝贝</p>-->
                    <!--<div class="xian"></div>-->
                    <!--<div class="cart_gun">-->
                        <!--<div class="cart_guna">-->
                            <!--<ul class="cart_ul" id="cart_ul">-->
                                <!--&lt;!&ndash;<li>-->

				 		 		<!--<div class="cart_img">-->
				 		 			<!--<img src="../../shopping/img/index/Bitmap.png" style="width: 60px;height: 60px;"/>-->
				 		 		<!--</div>-->
				 		 		<!--<div class="cart_zi">-->
				 		 			<!--<p class="cart_zip">手电转家用充电式电动螺丝刀手枪电钻迷你工具2V…</p>-->
				 		 			<!--<img class="delete" src="../../shopping/img/head/File add (2).png" />-->
				 		 			<!--<p class="cart_money">¥200.00</p>-->
				 		 		<!--</div>-->


				 		 	<!--</li>&ndash;&gt;-->

                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="xiantwo"></div>-->
                    <!--<div class="cart_mq">-->
                        <!--<div class="cart_shu" id="cart_shu">-->

                        <!--</div>-->
                        <!--<div class="gocart" id="gocart">-->
                            <!--<p class="gocart_p">去购物车</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="info_xi">-->
                    <!--<div class="info_sj">-->
                        <!--<img src="../../shopping/img/head/j.png" />-->
                    <!--</div>-->
                    <!--<p class="info_title">未读新信息</p>-->
                    <!--<img src="../../shopping/img/head/File add.png" class="inx" />-->
                    <!--<div class="info_xian"></div>-->
                    <!--&lt;!&ndash;<div class="info_fu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<img class="info_fuimg" src="../../shopping/img/head/File add (1).png" />&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<ul class="info_ul" id="info_ul">-->
                        <!--&lt;!&ndash;<span>商城系统提示您，您购买的商品已经发货您购买的商品已经发货商城系统提示您，您购买的</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>商城系统提示您，您购买的商品已经发货</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>商城系统提示您，您购买的商品已经发货</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>商城系统提示您，您购买的商品已经发货</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>商城系统提示您，您购买的商品已经发货</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>商城系统提示您，您购买的商品已经发货</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="gen">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img class="gen_a"  src="../../shopping/img/head/a5 copy 3.png" style="width: 56px;	height: 58px;"/>&ndash;&gt;-->
                        <!--&lt;!&ndash;<img class="gen_b" id="gen_b" src="../../shopping/img/head/acopy 3 (1).png" style="width: 56px;	height: 58px;"/>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->

                    <!--</ul>-->
                    <!--<div class="in_xian" style="margin-left: 20px; width: 282px;height: 2px; background: #E5E5E5;"></div>-->
                    <!--<div style="position: absolute;right: 40px;top: 10px;"><a class="rightbu" href="xiaoxi.html">查看全部</a></div>-->

                <!--</div>-->


                <!--复制消息弹框-->
                <!--<div class="fuzhiinfo_xi">-->
                <!--<div class="info_sj">-->
                <!--<img src="../../shopping/img/head/j.png"/>-->
                <!--</div>-->
                <!--<p class="info_title">未读新信息</p>-->
                <!--<img src="../../shopping/img/head/File add.png" class="inx"/>-->
                <!--<div class="info_xian"></div>-->
                <!--<div class="info_fu">-->
                <!--<span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>-->
                <!--<img class="info_fuimg" src="../../shopping/img/head/File add (1).png" />-->
                <!--</div>-->
                <!--<ul class="info_ul">-->
                <!--<li>-->
                <!--<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;	height: 58px;"/>-->
                <!--</li>-->
                <!--<li>-->
                <!--<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;	height: 58px;"/>-->
                <!--</li>-->
                <!--<li>-->
                <!--<img src="../../shopping/img/index/Bitmap.png" style="width: 56px;	height: 58px;"/>-->
                <!--</li>-->
                <!--<li class="gen">-->
                <!--<img class="gen_a"  src="../../shopping/img/head/a5 copy 3.png" style="width: 56px;	height: 58px;"/>-->
                <!--<img class="gen_b" id="gen_b" src="../../shopping/img/head/acopy 3 (1).png" style="width: 56px;	height: 58px;"/>-->
                <!--</li>-->



                <!--</ul>-->

                <!--</div>-->
                <div class="info_xione">
                    <div class="info_sjone">
                        <img src="../../shopping/img/head/j.png" />
                    </div>
                    <p class="info_title">未读新信息</p>
                    <img src="../../shopping/img/head/File add.png" class="inx" />
                    <div class="info_xian"></div>
                    <div class="info_xigun">
                        <ul class="info_xiulone">
                            <li>
                                <div class="info_litop">

                                    <span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
                                    <img src="../../shopping/img/head/File add (2).png" />

                                </div>
                                <div class="info_libottom">
                                    <div class="info_lileft">
                                        <img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;" />
                                    </div>
                                    <div class="info_liright">
                                        <p>订单号: 31460190429</p>
                                        <p>快递开始派件</p>
                                        <p>去看看 </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info_litop">

                                    <span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
                                    <img src="../../shopping/img/head/File add (2).png" />

                                </div>
                                <div class="info_libottom">
                                    <div class="info_lileft">
                                        <img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;" />
                                    </div>
                                    <div class="info_liright">
                                        <p>订单号: 31460190429</p>
                                        <p>快递开始派件</p>
                                        <p>去看看 </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info_litop">

                                    <span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
                                    <img src="../../shopping/img/head/File add (2).png" />

                                </div>
                                <div class="info_libottom">
                                    <div class="info_lileft">
                                        <img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;" />
                                    </div>
                                    <div class="info_liright">
                                        <p>订单号: 31460190429</p>
                                        <p>快递开始派件</p>
                                        <p>去看看 </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info_litop">

                                    <span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
                                    <img src="../../shopping/img/head/File add (2).png" />

                                </div>
                                <div class="info_libottom">
                                    <div class="info_lileft">
                                        <img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;" />
                                    </div>
                                    <div class="info_liright">
                                        <p>订单号: 31460190429</p>
                                        <p>快递开始派件</p>
                                        <p>去看看 </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info_litop">

                                    <span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
                                    <img src="../../shopping/img/head/File add (2).png" />

                                </div>
                                <div class="info_libottom">
                                    <div class="info_lileft">
                                        <img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;" />
                                    </div>
                                    <div class="info_liright">
                                        <p>订单号: 31460190429</p>
                                        <p>快递开始派件</p>
                                        <p>去看看 </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info_litop">

                                    <span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
                                    <img src="../../shopping/img/head/File add (2).png" />

                                </div>
                                <div class="info_libottom">
                                    <div class="info_lileft">
                                        <img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;" />
                                    </div>
                                    <div class="info_liright">
                                        <p>订单号: 31460190429</p>
                                        <p>快递开始派件</p>
                                        <p>去看看 </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info_litop">

                                    <span>您购买的 <span style="color: #FD5700;">7</span>个物流发生变化</span>
                                    <img src="../../shopping/img/head/File add (2).png" />

                                </div>
                                <div class="info_libottom">
                                    <div class="info_lileft">
                                        <img src="../../shopping/img/index/Bitmap.png" style="width: 56px;height: 58px;" />
                                    </div>
                                    <div class="info_liright">
                                        <p>订单号: 31460190429</p>
                                        <p>快递开始派件</p>
                                        <p>去看看 </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>

    </div>

    <!--<div class="serch">-->
    <!--<div class="serch_con">-->
    <!--&lt;!&ndash; logo &ndash;&gt;-->
    <!--<div class="logo">-->
    <!--<img src="../../shopping/img/index/logo.png" />-->
    <!--</div>-->
    <!--<div class="searcha">-->
    <!--&lt;!&ndash; 搜索框 &ndash;&gt;-->
    <!--<div class="search">-->
    <!--<div class="search_frame">-->
    <!--<input type="text" />-->
    <!--</div>-->
    <!--&lt;!&ndash; 搜索按钮 &ndash;&gt;-->
    <!--<div class="search_icon" id="search_icon">-->
    <!--<img src="../../shopping/img/index/ic_sousuo.png" />-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; 热搜词 &ndash;&gt;-->
    <!--<div class="search_hot">-->
    <!--<ul class="search_hot_ul" id="search_hot_ul">-->
    <!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>刀具磨具</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>电气控制</li>&ndash;&gt;-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</body>
<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="../../shopping/lib/artTemplate/artTemplate/template-web.js"></script>
<script type="text/template" id="users">
    <p>{{number}}，您好，欢迎光临直链网商城</p>
    <img id="yho" src="../../shopping/img/head/User.png" class="yhaa" />
    <img id="yht" src="../../shopping/img/head/User (1).png" class="yhaa" />
</script>

<script type="text/template" id="touImg">
    <img src="{{number2}}" />
</script>

<script type="text/template" id="haomas">
    <p>{{number}}</p>
    <p id="out">退出</p>
</script>
<script type="text/javascript" src="../../shopping/js/head.js"></script>
<script type="text/javascript" src="../../shopping/js/gocar.js"></script>
<script type="text/javascript" src="../../shopping/js/toubu.js"></script>

</html>