<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <title>直链商城</title>
</head>
<link rel="stylesheet" href="../../shopping/css/index.css" />
<link rel="stylesheet" href="../../shopping/css/header.css" />
<link rel="stylesheet" href="../../shopping/css/Land.css" />
<!--<link rel="stylesheet" href="../../shopping/css/register.css" />-->

<body>
    <div id="heada">

    </div>
    <div class="serch">
        <div class="serch_con">
            <!-- logo -->
            <div class="logo">
                <img src="../../shopping/img/index/logo.png" />
            </div>
            <div class="searcha">
                <!-- 搜索框 -->
                <div class="search">
                    <form autocomplete="off" class="search_frame" onsubmit="return false">
                        <input type="text" id="resou" readonly onfocus="this.removeAttribute('readonly');" maxlength="50" />
                    </form>
                    <!-- 搜索按钮 -->
                    <div class="search_icon" id="search_icon">
                        <img src="../../shopping/img/index/ic_sousuo.svg" />
                    </div>
                    <!--简单查询-->
                    <div class="pro">
                        <ul class="proCon">

                        </ul>
                    </div>

                </div>
                <!-- 热搜词 -->
                <div class="search_hot">
                    <ul class="search_hot_ul" id="search_hot_ul">
                        <!--<li>电气控制</li>-->
                        <!--<li>刀具磨具</li>-->
                        <!--<li>电气控制</li>-->
                        <!--<li>电气控制</li>-->
                        <!--<li>电气控制</li>-->
                        <!--<li>电气控制</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航条 -->
    <div class="nav" id="nav1">
        <div class="nav_content">
            <div class="tabbox">

                <ul>

                    <li class="active" id="shaixu">商品筛选</li>

                    <li id="gongc">工厂列表</li>

                </ul>

            </div>
            <div class="nav_t">
                <ul class="nav_ul" style="display: none">
                    <li>分类</li>
                    <li>电动工具</li>
                    <li>手动工具</li>
                    <li>特惠活动</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">

        <div class="banner_a">
            <div class="content">

                <div class="active" id="indexsp">

                    <ul class="stya">
                        <li class="ppa">
                            <div class="pada">

                            </div>
                            <a href="searchPage?key=&f=&b=&l=&m=&c=">
                                <div class="ppa_a">
                                    <span>品牌</span>
                                    <i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
                                    <i><img class="left_jt" src="../../shopping/img/index/left.png"/></i>
                                </div>
                            </a>
                            <div class="ppa_b" id="ppa_b">
                                <!--<span>德力士</span>-->
                                <!--<span>3M</span>-->

                            </div>

                            <div class="white">
                                <div class="whiteer">
                                    <ul class="white_a">

                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                    </ul>

                                    <ul class="white_a">

                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>

                                    </ul>
                                </div>
                                <div class="whiteto_imh">
                                    <div class="whiteto_imha">
                                        <img src="../../shopping/img/index/Banner -s.png" />
                                    </div>
                                    <div class="whiteto_imha">
                                        <img src="../../shopping/img/index/Banner -s2.png" />
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="ppa">
                            <div class="pada">

                            </div>
                            <a href="searchPage?key=&f=&b=&l=&m=&c=">
                                <div class="ppa_a">
                                    <span>系列</span>
                                    <i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
                                    <i><img class="left_jt" src="../../shopping/img/index/left.png"/></i>
                                </div>
                            </a>
                            <div class="ppa_b" id="index_list">
                                <!--<span>电气控制</span>-->
                                <!--<span>刀具磨具</span>-->
                            </div>

                            <div class="white">
                                <div class="whiteer">
                                    <ul class="white_a">

                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                    </ul>

                                    <ul class="white_a">

                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>

                                    </ul>
                                </div>
                                <div class="whiteto_imh">
                                    <div class="whiteto_imha">
                                        <img src="../../shopping/img/index/Banner -s.png" />
                                    </div>
                                    <div class="whiteto_imha">
                                        <img src="../../shopping/img/index/Banner -s2.png" />
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li class="ppa">
                            <div class="pada">

                            </div>
                            <a href="searchPage?key=&f=&b=&l=&m=&c=&x=c">
                                <div class="ppa_a">
                                    <span>分类</span>
                                    <i><img class="left_jtp" src="../../shopping/img/index/csa.png"/></i>
                                    <i><img class="left_jt" src="../../shopping/img/index/left.png"/></i>
                                </div>
                            </a>
                            <div class="ppa_b" id="feileiinde">
                                <!--<span>角磨机</span>-->
                                <!--<span>电钻</span>-->
                            </div>

                            <div class="white">
                                <div class="whiteer">
                                    <ul class="white_a">

                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                    </ul>

                                    <ul class="white_a">

                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>
                                        <li>
                                            <span>电气控制</span>
                                        </li>

                                    </ul>
                                </div>
                                <div class="whiteto_imh">
                                    <div class="whiteto_imha">
                                        <img src="../../shopping/img/index/Banner -s.png" />
                                    </div>
                                    <div class="whiteto_imha">
                                        <img src="../../shopping/img/index/Banner -s2.png" />
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="active" id="indexgc">
                    <div style='max-height: 420px;overflow: hidden;overflow-y: auto;margin-bottom: 20px;width: 210px;'>
                        <ul class="stya" id="stya">

                        </ul>
                    </div>

                    <div id="gda">

                    </div>
                </div>

            </div>
            <div class="banner_aone">
                <!-- 轮播 -->
                <div id="lunbobox">

                    <div class="lunbo" id="lunbos">

                        <!-- 挖个坑 -->

                    </div>

                </div>

            </div>
            <div class="banner_atwo">
                <div class="head">
                    <img src="../../shopping/img/index/logo (1).png" />
                    <div class="head_a"></div>
                </div>
                <div class="head_pic">
                    <img src="../../shopping/img/index/ic_morentouxiang.png" />
                </div>
                <p>立即关联工厂</p>
                <p>立即登录关联您的工厂端</p>
                <div class="logingo">
                    <div class="logingo_a" id="zhuce2">
                        <span class="logingo_zi">注册</span>
                    </div>
                    <div class="logingo_b" id="login">
                        <span class="logingo_zi">登录</span>
                    </div>
                </div>
            </div>
            <div class="banner_at"></div>
            <div class="banner_athree">
                <img src="../../shopping/img/index/banner_6.png" />
            </div>
            <div class="banner_athree">
                <img src="../../shopping/img/index/banner_3.png" />
            </div>
            <div class="banner_afire">
                <img src="../../shopping/img/index/banner_4.png" />
            </div>

        </div>
    </div>

    <div class="bannT">

        <img src="../../shopping/img/index/banner.png" />
        <div class="huodo" id="activityDetails_id"></div>

    </div>

    <div class="prout">
        <ul class="prout_ul" id="prout_ul">

        </ul>
    </div>

    <div class="electric" id="nav2">
        <div class="electrictop" id="electrictop">

        </div>
    </div>

    <div class="fgtwo">
        <div class="fgtwoCon">
            <span>2019</span>
            <span>疯狂嗨购</span>
        </div>
    </div>

    <div id="conutpro">

    </div>

    <div class="ceb">
        <ul class="cebul" id="avu">

        </ul>
    </div>
    <div class="ceright">
        <ul class="cerightul">
            <li id="geren"><img src="../../shopping/img/index/geren.svg" /></li>
            <li id="gocar3"><img src="../../shopping/img/index/ic_shop.svg" /><span></span></li>
            <li id="collect"><img src="../../shopping/img/index/collect.png" /></li>
            <li class="go_top" id="got"><img src="../../shopping/img/index/ic_zhiding.svg" /></li>

        </ul>
    </div>
    </div>

    <!--蒙版-->
    <div class="meng" id="meng">
        <!--中间-->
        <div class="zhong">
            <div class="langtop" id="sweepCode">
                <div class="img" style="display: none;">
                    <img src="../../shopping/img/lhpimg/code_icon.png" />
                </div>
                <div class="bei" style="display: none;">
                    <img src="../../shopping/img/lhpimg/security.png" />
                    <span>扫码登录更安全</span>
                </div>
                <div class="chapi">
                    <img src="../../shopping/img/upload/gp.png">
                </div>
            </div>
            <div class="nei">
                账号登录
            </div>
            <div class="kuan" id="shji">
                <img src="../../shopping/img/lhpimg/username_icon.png" />
                <input type="text" maxlength="11" placeholder="手机号" id="one" onkeyup="value=value.replace(/[^\d]/g,'')" onblur="isPhone(this.value);" />
            </div>
            <div class="kuan">
                <img src="../../shopping/img/lhpimg/password_icon.png" />
                <input maxlength="20" type="password" placeholder="密码" id="tow" />
            </div>
            <div class="button" id="button">
                登 录
            </div>
            <a id="cea" class="a">免费注册</a>
            <a href="Identity_verification1.html" style="" class="a">忘记密码</a>
            <div class="tishi">

            </div>
        </div>
        <div class="zhongtwo">
            <div class="langtopa">
                <div class="chapia">
                    <img src="../../shopping/img/upload/gp.png">
                </div>
            </div>
            <div class="nei">
                账号注册
            </div>
            <div class="kuan">
                <img src="../../shopping/img/lhpimg/username_icon.png" />
                <input type="text" maxlength="11" placeholder="请输入手机号" onkeyup="value=value.replace(/[^\d]/g,'')" id="phone" name="phone" readonly onfocus="this.removeAttribute('readonly');" />
            </div>
            <div class="kuan">
                <img src="../../shopping/img/index/code.png" />
                <input type="text" placeholder="请输入验证码" onkeyup="value=value.replace(/[^\d]/g,'')" id="yanzhenm" name="phone" readonly onfocus="this.removeAttribute('readonly');" />
                <button id="buttonya" class="hqm">获取验证码</button>
            </div>
            <div class="kuan">
                <img src="../../shopping/img/lhpimg/password_icon.png" />
                <input type="password" placeholder="请输入密码" id="password" name="password" readonly onfocus="this.removeAttribute('readonly');" />
            </div>
            <div class="kuan">
                <img src="../../shopping/img/index/gsdz.png" />
                <input type="text" id="companyName" placeholder="请输入公司名称" readonly onfocus="this.removeAttribute('readonly');" />
            </div>
            <div class="button" id="regin">
                注 册
            </div>
            <a id="ced" class="a">去往登录</a>
            <a href="Identity_verification1.html" style="" class="a">忘记密码</a>
        </div>
    </div>


    <iframe src="bottom.html" width="100%" height="288px" frameborder="0" scrolling="no"></iframe>
</body>
<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="../../shopping/js/index.js"></script>
<!--<script type="text/javascript" src="../../shopping/js/jinzi.js"></script>-->
<script type="text/javascript" src="../../shopping/js/lunbo.js"></script>
<!-- <script type="text/javascript" src="../../shopping/js/head.js"></script> -->
<script src="../../shopping/lib/artTemplate/artTemplate/template-web.js"></script>
<script type="text/javascript" src="../../shopping/lib/vue.js"></script>
<script type="text/javascript" src="../../shopping/lib/url.js"></script>
<script type="text/javascript" src="../../shopping/js/Land.js"></script>
<script type="text/javascript" src="../../shopping/js/Placeholder.js"></script>
<script type="text/javascript" src="../../shopping/js/register.js"></script>
<script type="text/javascript" src="../../shopping/js/urlcs.js"></script>
<script>
    $(".chapi").click(function() {
        window.location.href = "index"
    });
    $(".chapia").click(function() {
        window.location.href = "index"
    });
    $('#got').bind('click', function() {
        $(window).scrollTop(0);
    });
    $("#shaixu").click(function() {
        $(this).addClass("active");
        $("#gongc").removeClass("active");
        $("#indexsp").show();
        $("#indexgc").hide();
    });
    $("#gongc").click(function() {
        $(this).addClass("active");
        $("#shaixu").removeClass("active");
        $("#indexsp").hide();
        $("#indexgc").show();
    });
    $("#zhuce2").click(function() {
        $(".meng").show();
        $(".zhong").hide();
        $(".zhongtwo").show();
    });
</script>
<script>
    function isPhone(phone) {

        //alert(phone)
        var RegCellPhone = /^(1)([0-9]{10})?$/;
        var falg = phone.search(RegCellPhone);
        if (falg == -1) {
            if ($("#one").val()) {
                $(".tishi").show().delay(2000).hide(0);
                $(".tishi").html("账户不正确，请重新输入")

                this.focus();
                $("#shji").css({
                    "border-radius": "4px",
                    "border": "1.5px solid red"
                })
            }

        } else {
            this.focus();
            $("#shji").css({
                "border-radius": "4px",
                "border": "1px solid rgba(253,87,0,1);"
            })
        }

    }

    $(function() {
        $(".cerightul #geren").click(function() {

            $.ajax({
                type: "post", //提交请求的方式
                cache: true, //是否有缓存
                url: "/zlead/member/memberInfo", //访问servlet的路径
                dataType: "json", //没有这个，将把后台放会的json解析成字符串
                success: function(res) {
                    if (res.code != 1) {
                        // window.location.href = "Receiving_address5";
                        window.location.href = "Receiving_address5";
                        // $('.meng').show().children('.zhong').show();

                    } else {
                        window.location.href = "left.html"
                    }
                }
            })

        })

        $(".cerightul #gocar3").click(function() {
            window.location.href = "buyCar.html"
        })
        $(".cerightul #collect").click(function() {
            window.location.href = "left.html#sc"
        })
    })
</script>
<script>
    if (location.href.indexOf('left.html#dd') > -1 || location.href.indexOf('left.html') > -1) {

    } else {
        if (window.localStorage.getItem("active5")) {
            window.localStorage.removeItem("active5")
        }
    }
</script>

</html>