<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直链商城</title>
	</head>
	<link rel="stylesheet" href="../../shopping/css/maLand.css" />

	<body>
		
		<!--蒙版-->
		<div class="meng" id="meng">
			<div class="zhong">
				
				<div class="top">
					<div class="img">
						<img src="../../shopping/img/lhpimg/computer_icon.png" />
					</div>
					<div class="bei">
						<img src="../../shopping/img/lhpimg/security.png"/>
						<span>账号登录点这里</span>
					</div>
					<div class="chapi">
						<img src="../../shopping/img/upload/gp.png">
					</div>
				</div>
				<div class="nei">
					直链网扫码 , 安全登录
				</div>
				<div class="ma">
					<img src="../../shopping/img/lhpimg/Bitmap24.png"/>
				</div>
				<div class="lian">
					打开<a href="#">直链网APP</a>，扫码登录
				</div>
				<a href="index?login=one" id="password_login" class="a">密码登录</a>
				<a href="index?login=two" class="a">免费注册</a>
			</div>
			
		</div>
		
	</body>
	<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../shopping/js/maLand.js" ></script>
</html>