<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>直链商城</title>

    <!-- CSS文件 -->
    <link rel="stylesheet" href="../../shopping/css/header.css" />
    <link rel="stylesheet" href="../../shopping/css/order.css" />
    <link rel="stylesheet" href="../../shopping/css/success.css" />

</head>
<body>
    <div id="app1">
            <!-- 头部 -->
           <div id="head">

           </div>
            <!-- 订单 -->
            <div class="car_title"></div>
            <div class="success_model">
                <div><img src="../../shopping/img/success/Fill 1 (1).png" alt=""></div>
                <div class="textP">
                    <p>订单已提交，我们会尽快为您发货</p>
                </div>
                <p class="talk">为保障您的权益，收货时请开箱检查，发现货品异常请不要签收</p>

               <span class="checkOrder" > 查看订单</span>
               <span class="homePage">首页</span>
            </div>
            

    </div>
       <!-- JS文件 -->
    <script src="../../shopping/lib/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../../shopping/lib/jquery/jquery.min.js"></script>
    <script src="../../shopping/js/success.js"></script>
<script type="text/javascript" src="../../shopping/js/jinzi.js" ></script>
<script>
 $("#head").load("head.html");
</script>
</body>
</html>