<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>直链商城</title>
</head>
<link rel="stylesheet" href="../../shopping/css/register.css" />

<body>

<!--蒙版-->
<div class="meng" id="meng">
    <!--中间-->
    <div class="zhong">

        <div class="top" id="sweepCode"	></div>
        <div class="nei">
            账号注册
        </div>
        <div class="kuan">
            <img src="../../shopping/img/lhpimg/username_icon.png"/>
            <input type="text" maxlength="11" placeholder="请输入手机号"  id="phone" name="phone"/>
        </div>
        <div class="kuan">
            <img src="../../shopping/img/lhpimg/password_icon.png"/>
            <input type="password" placeholder="请输入密码"  id="password" name="password"/>
        </div>
        <div class="button" id="button" >
            注  册
        </div>
        <a href="Land.html" class="a">去往登录</a>
        <a href="Identity_verification1.html" style="visibility: hidden" class="a">忘记密码</a>
    </div>

</div>

</body>
<script type="text/javascript" src="../../shopping/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="../../shopping/js/Placeholder.js" ></script>
<script type="text/javascript" src="../../shopping/js/register.js"></script>

</html>